[2021-03-22 02:26] floh22 opened #1 "Game Info page does not update after game restart"
Game Information page only updates the first time the game starts.
Afterwards one has to switch to a different page and back for it to properly work, I have absolutely no idea why

[2021-03-22 02:37] floh22 commented on #1
Fixed in 8a21bfc
Also fixes Hub having issues when staying open between games

[2021-03-22 02:37] #1 closed

[2021-04-07 12:26] ChronoBrake opened #2 "Gold Graph errors"
Hey i tested LBG with OCR and gold graph not working correctly
Here is image:  https://i.imgur.com/dgP4YlK.png

Best regards

[2021-04-10 16:24] floh22 commented on #2
Hey. sorry for the late reply. Can you send me the client gold graph for this game and at what time ingame this error happend? There is a bug sometimes where if only red side or only blue side have a gold advantage, the gold graph breaks. I tried fixing it but it seems there might be some situations where it still happens

[2021-04-18 13:40] figyl opened #3 "Tournament Realm Support"
Since the tournament realm clients don't have /liveclientdata support, levelup/item features don't work.
![image](https://user-images.githubusercontent.com/73833646/115147654-50533d80-a05c-11eb-8624-f78184616757.png)

[2021-04-20 00:35] floh22 commented on #3
Hey. Thanks for the info. I don't have any experience with tournament realm apis. I'll look into the endpoint to see if I can add support

[2021-04-20 01:06] floh22 commented on #3
With what I can gather, tournament realm api has almost everything disabled. If I wanted to add TR support, I would have to use memory reading, something I have very little experience in and it can get messy with anti-cheat. Another option would be to expand LeagueOCR to include level and items, but that is currently not something that I have planned.

For now I am going to have to disappoint and

[2021-04-20 06:12] availablevic commented on #3
Understandable. Thank you for your efforts and keep it up!

[2021-04-22 09:13] ChronoBrake commented on #2
Nvm it's starting working fine after change some firewall rules. You already saw new LiveEvents API bro? You have update this tool in nearly future ? I waiting for new features from you <3
Best Regards

[2021-04-22 12:46] floh22 commented on #2
Hey. Glad the issue is sorted. Going to close this issue for now.

As for the new API, im working on it. It's been barely 48 hours since it was first found, so it's going to take a bit.

[2021-04-22 12:46] #2 closed

[2021-05-08 22:13] OrionCodeDev opened #4 "Crashing after trying turn on "Gold Graph""
Hey bro i saw v2 LBH and i tested it, first of all, i wanna say thanks for your work, it's awesome bro <3

I have one small problem with Gold Graph instantly crashing app when i click on them. I added LiveEvents etc. Any idea whats wrong or how i can test it to catch the problem?
Best Regards

[2021-05-08 22:14] OrionCodeDev commented on #4
Some logs:
[code]

[2021-05-08 22:31] OrionCodeDev commented on #4
And also i don't wanna spam in your repo, so i wanna report one bug:
[https://i.imgur.com/uUTmMKN.png](https://i.imgur.com/uUTmMKN.png)
For example it's will be better when it's will rounded Gold amount diff on baron/elder timer. Now it's out of box
Regards

[2021-05-08 23:59] SpicedPigeon opened #5 "Changing screen resolutions breaks the window"
Downscaling your screen resolution and rescaling it to the original will break the UI completly

[2021-05-08 23:59] SpicedPigeon opened #6 "On/Off Button Pickban hitbox is broken"
title.

[2021-05-09 00:41] floh22 commented on #6
Attempted fix in 3c5d943136b58123a5bb965242695cc95adf2c84. Hitbox should be as expected

[2021-05-09 00:41] floh22 commented on #5
Attempted fix in 3c5d943136b58123a5bb965242695cc95adf2c84
I don't know why this would be common enough to be an issue, but here we are 🙃

[2021-05-09 00:45] floh22 commented on #4
Hey. The issue was caused by the fact that there was no data yet, you had the gold graph on at 00:00. Added a catch for this case
Should be fixed in 3c5d943136b58123a5bb965242695cc95adf2c84. Please tell me if it has also fixed it for you

Also, please feel free to open an issue per actual issue. Its easier for me to track, and thats why this is here. If theres a bunch of issues, go ahead and spam

[2021-05-09 00:48] floh22 commented on #3
v2 leaves the possiblity for added TR support. Not high on prio list though

[2021-05-09 03:09] Khhd1 opened #7 "Why can't I open app? It always fades away"
Hey! Bro,Why can't I open  app? It always fades away

[2021-05-09 11:26] OrionCodeDev commented on #4
Hm still seems looking like crashing, now be more agressive like when i turned it on the app crashed and when i trying to run it retry it;'s instantly crashing. All except that working fine like baron timers now it's really cool <3.

[2021-05-09 12:06] floh22 commented on #7
Im going to need more information.
What Windows version are you using? The App was built against Windows 10 20H1 (May 2020 Update) Build 19041, so if your version is older, it will not work.
What steps did you take to run the app?

[2021-05-09 12:08] floh22 commented on #4
Ok. Can you please describe what steps you take in the exact order to reproduce the issue?
It may also help if you provide a replay file of the game in question. Maybe some champion name is different in memory/in league API

[2021-05-09 12:52] Khhd1 commented on #7
![image](https://user-images.githubusercontent.com/82941693/117573030-65296b00-b108-11eb-8a35-595164e11470.png)
The version of the system I'm using is 20H2, updated in 2021

[2021-05-09 12:56] Khhd1 commented on #7
My order of use is to download the latest file in Release and then unzip it to my computer. I open the file in LeagueBroadcast.exe, I see the page downloading the latest file and then it disappears

[2021-05-09 13:34] floh22 commented on #7
Can you send the last log file? There should be a folder called Logs which contains all log files.
Can you also send Farsight.json. It should be in the config folder

[2021-05-09 13:46] Khhd1 commented on #7
![image](https://user-images.githubusercontent.com/82941693/117574485-d6205100-b10f-11eb-8458-15e229e91a8d.png)
I don't have a Farsight. Json

[2021-05-09 13:57] floh22 commented on #7
It looks like your requests to github are being blocked for some reason. For now, try to manually download https://raw.githubusercontent.com/floh22/LeagueBroadcastHub/v2/Offsets/Offsets-11.9.1.json or https://github.com/floh22/LeagueBroadcastHub/blob/v2/Offsets/Offsets-11.9.1.json, depending on which one works, they are the same.
Call the file Farsight.json, and place it in Config. I will have to

[2021-05-09 14:19] Khhd1 commented on #7
I did it. Thanks, buddy

[2021-05-09 14:23] Khhd1 commented on #7
![image](https://user-images.githubusercontent.com/82941693/117575524-c8b99580-b114-11eb-8523-4ece43ef65f5.png)
I have a suggestion that the top scoreboard of the spectator page could use something like an image, which might call some Riot API, as well as a post-match graph，
![image](https://user-images.githubusercontent.com/82941693/117575598-1f26d400-b115-11eb-9fa5-f5ecfa29fac1.png)

[2021-05-09 14:32] Khhd1 commented on #7
My pickban function is not working and has no graphics

[2021-05-09 15:07] Khhd1 commented on #7
![image](https://user-images.githubusercontent.com/82941693/117577166-3cf73780-b11b-11eb-8956-3690eb0a9526.png)
These features are also not shown in OBS when playing video or watching 5V5, such as being upgraded to level 6

[2021-05-09 18:52] floh22 commented on #7
Are you using the chinese client? Im pretty sure this tool will not work there because the API and memory locations are all different. Any non riot servers/client will most likely not work as far as I know how the API and Memory locations work.

Otherwise it would be best if you send your log and replay file that you are using to test, so I can try to reproduce the issue

[2021-05-09 20:18] OrionCodeDev commented on #4
Yeah sure bro,
For example: download latest version from git release -> run and wait for downlad all -> LBH be runned -> enter to game -> wait few minutes/more than 10-15 minutes -> Click on "Gold Graph" -> app crashing

example match: https://www.leagueofgraphs.com/api/spectate/WTJJei9NMFFVeFFERXZFTDR0WjVUQlFwQzVobTl6TWc0bUxhQlI0UmNDc2JTQzRBNWQ0SXRyY0tXcUpMYVNPZVpBUHJ0VVVtbmRSbks1bkVSSm9IQlE9PQ==

[2021-05-09 22:37] floh22 commented on #4
Im having issues opening the replay file. Can you send it through github?

[2021-05-09 22:37] #5 closed, assigned to nobody

[2021-05-09 22:38] #6 closed, assigned to nobody

[2021-05-09 22:43] OrionCodeDev commented on #4
GitHub not support bat ext. I uploaded it to Gdrive: https://drive.google.com/file/d/1SDUUnJPM1QenqNjfLvH1_f4wx2ByLMtE/view?usp=sharing

[2021-05-09 23:37] floh22 commented on #4
The problem I am having is that the bat produces a black screen from league on 3 separate PCs. It would be best if you could share the .rofl file directly.

Also, could you tell me which champions are in the game? Then I can test myself.

[2021-05-10 01:43] Khhd1 commented on #7
Yes, I am a Chinese client, but in the last  version of the software, I tested LBH-0.3.0 and I can use it normally.

[2021-05-10 01:44] Khhd1 commented on #7
Except for the PICKBAN feature

[2021-05-10 01:50] Khhd1 commented on #7
[09-43-44] Logging Init. Log Level set to Verbose
[09-43-44] Starting Config Controller
[09-43-44] Config Provider started
[09-43-44] Looking for config files at D:\LeagueBroadcast-1.1.14 (2)\Config
[09-43-44] Found PickBan.json. Reading values
[09-43-45] {
  "frontend": {
    "scoreEnabled": true,
    "spellsEnabled": true,
    "coachesEnabled": true,
    "blueTeam": {
      "name": "TUM",

[2021-05-10 01:56] Khhd1 commented on #7
[WT2_NEW-4141282085.zip](https://github.com/floh22/LeagueBroadcastHub/files/6448936/WT2_NEW-4141282085.zip)
![Uploading image.png…]()

[2021-05-10 12:58] floh22 commented on #7
This makes sense. Memory structure and security on the Chinese client is completely different to riot clients. Old versions of this project did not use memory reading, so they did not have this issue.
Sadly I cannot help you since I neither have access to the Chinese client to support it, and if I did, the Chinese client is very very restrictive and locks down memory completely, so i couldn't read

[2021-05-10 12:58] #7 closed, assigned to nobody

[2021-05-12 11:17] Ukan0 opened #8 "LiveEventAPI Connection Failed"
Hi. When i open a replay i get something like this in logs
[12-23-25] [WARNING] Sequence contains no matching element
[12-23-26] [WARNING] Sequence contains no matching element
[12-23-26] [WARNING] Sequence contains no matching element
[12-23-26] LiveEventAPI Connection Failed!
[12-23-26] [WARNING] No connection could be made because the target machine actively refused it. 127.0.0.1:34243
I get th

[2021-05-12 13:32] floh22 commented on #8
Was this on patch 11.9 or 11.10?
Also can you post your lol game config? It should be in Riot Games/League of Legends/Config/game.cfg

[2021-05-12 13:52] Ukan0 commented on #8
I tested it yesterday on patch 11.9 and today on patch 11.10
[game.txt](https://github.com/floh22/LeagueBroadcastHub/files/6466606/game.txt)

[2021-05-12 14:26] floh22 commented on #8
Im guessing you do not have League installed at the default location. I haven't added support for this yet. For now if League is not installed at the default location, add the following to that file:

[code]

and drop the following file into the config folder as well and call it `LiveEvents.ini` . This should solve the LiveEvents issue.
https://github.com/floh22/LeagueBroadcastHub/files/6466833/Li

[2021-05-12 14:49] Ukan0 commented on #8
Thank you. That helped

[2021-05-12 14:49] #8 closed, assigned to floh22

[2021-05-15 07:14] iDanielWongi opened #9 "[BUG] Baron Power & Elder Power Play not working"
Baron Power & Elder Power Play not working

[2021-05-15 11:46] floh22 commented on #9
Please use the template when reporting an issue

[2021-05-15 11:46] #9 closed, assigned to floh22

[2021-05-23 16:30] floh22 commented on #4
closed due to inactivity

[2021-05-23 16:30] #4 closed, assigned to nobody

[2021-05-26 21:09] crashbach opened #10 "Unable To use the program , nothing appears but the gold graph background (no infos though) [BUG]"
Hello.

i just downloaded league broadcast hub and leagueOCR but i get no infos and i have no idea how to work with it , would u please help me out , i only get the gold grap[h background and thats about it.

Thank you for your time.

[2021-05-26 23:14] floh22 commented on #10
LeagueOCR has been deprecated in favor of using memory reading for quite some time now.

Download the [latest release](https://github.com/floh22/LeagueBroadcastHub/releases/latest)

If you have any further issues, please use the issue templates so I can best help you

[2021-05-26 23:14] #10 closed, assigned to floh22

[2021-05-26 23:26] crashbach commented on #10
I still haven't figured it out and now when i click on goldgraph the program crashes , but still i dont think and doing it the right way , i see people posting screens of consoles and whatnot and i have no idea how to use that , is cloud needed to run the program if not how do i access the console like other people.
thank you so much for your time.

[2021-05-27 11:20] floh22 commented on #10
The program generates logs and crash logs which can be found in the folder Logs. Post both of them if the program crahses, or just the log if it does not crash

[2021-05-27 12:55] lolThinked opened #11 "[BUG] Missing scoreboard images"
**Describe the bug**
Missing scoreboard images

**To Reproduce**
Steps to reproduce the behavior:
1. Load Frontend
2. Images are missing

**Expected behavior**
They should be loaded into the scene, but the server isn't able to get them, I assume they have changed name and the server is looking for old images.

**Material**
`phaser.js:122342 GET http://localhost:9001/images/fullGoldIcon.png 404 (No

[2021-05-27 12:56] lolThinked commented on #11
![image](https://user-images.githubusercontent.com/48737270/119829632-ba80bd00-befb-11eb-8584-daf57ca23b7b.png)

[2021-05-27 13:00] lolThinked commented on #11
![image](https://user-images.githubusercontent.com/48737270/119830120-3bd84f80-befc-11eb-9ef7-9eb0e68ba2cb.png)

[2021-05-27 13:09] lolThinked opened #12 "[BUG] CS per Min. and Gold Tab"
**Describe the bug**
Both CS per Min and Gold shows some wierd numbers and have some wierd formatting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**

**Material**
![image](https://user-images.githubusercontent.com/48737270/119831134-434c2880-befd-11eb-868b-1b075240a4ea.png)
![image](https://user-images.githubusercontent.com/48737270/119

[2021-05-27 18:13] crashbach commented on #10
Again thank you for your time , here are both the crash logs
[Crash-2021-05-27-01-21.log](https://github.com/floh22/LeagueBroadcastHub/files/6555954/Crash-2021-05-27-01-21.log)
and the program logs
[Log-2021-05-27-01-20.log](https://github.com/floh22/LeagueBroadcastHub/files/6555958/Log-2021-05-27-01-20.log)

[2021-05-27 20:14] floh22 commented on #10
It looks like neither LiveEvents, GitHub connection, or Memory Reading are working.
Im going to add more logging in a future update and hope I can find the issue then.

Im sorry to say, but for now it looks like somehow everything broke at the same time

[2021-05-27 22:50] #11 closed, assigned to floh22

[2021-05-27 23:34] OrionCodeDev commented on #12
Hey, hm i tested  942039c, but i have still that bug. Best Regards
![sS32dHa](https://user-images.githubusercontent.com/47286873/119909267-c482da00-bf54-11eb-8e76-6b0b4c11652b.png)
![QY4L306](https://user-images.githubusercontent.com/47286873/119909268-c5b40700-bf54-11eb-8172-f073b09eaa26.png)

[2021-05-28 02:51] Khhd1 opened #13 "[BUG]Gold is not shown，Gold Graph，Champion exceptions are not displayed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Material**
* If applicable, add screenshots to help explain your problem.
* Include Logs of when the error occured

[2021-05-28 06:17] OrionCodeDev commented on #13
I responded here in issue #12, but it's already closed. I will forward it here. For me all except that two pictures working fine, so you must doing something wrong bro.

https://github.com/floh22/LeagueBroadcastHub/issues/12#issuecomment-850008607

Best Regards

[2021-05-28 17:37] floh22 commented on #13
Duplicate of #7

This project will not work fully with the CN client. Memory locations, structure, and security are different on that client.

Any information that is gathered using memory cannot be supported in CN. This includes xp, gold, position.

[2021-05-28 17:37] #13 closed, assigned to floh22

[2021-05-29 21:31] #12 closed, assigned to floh22

[2021-05-30 18:41] challenger087 opened #14 "[BUG] BARON & ELDER Timer not working"
Dear floh22,
First of all, Thank you for giving us the opportunity to use this amazing project, I'd like to ask you if is there any way to get the Baron & Elder Timer working, thank you in advance.

Sincerly

[2021-05-30 19:17] floh22 commented on #14
Please include logs, screenshots, and descriptions of the issue.
I can't help you find the issue if I don't know what the specific issue is you are having

[2021-05-30 21:28] challenger087 commented on #14
Issue 1: The baron and Elder timer does blt show you in the screen even if we click the buttons
Issue 2: the dragon icon is not displayed under the scoreboard when a dragon is killed
Please find attaches the log file following the test I made.

Thank you for your help

[Log-2021-05-30-21-59.log](https://github.com/floh22/LeagueBroadcastHub/files/6566919/Log-2021-05-30-21-59.log)
![3](https://user-

[2021-05-30 23:22] floh22 commented on #14
Do you have League installed in the default location? Logs show that it could not find the install location

Currently the documentation for this is very bad, I apologize. Go into Config/Component.json and find LeagueInstall, which should be something like
[code]
add the folder which contains your "Riot Games" folder to that list, so something like
[code]

as for the timers. They only show when a

[2021-05-31 17:10] challenger087 commented on #14
The game is installed in D:\\Games
I did what you told me to do but the drakes icon still not show up on the scoreboard

[2021-05-31 19:26] floh22 commented on #14
Im guessing the logs still include the line
[code]
Try writing `D:\\Games` instead, im not 100% sure how Windows needs it formatted. The next update should tell you on startup if the game install directory was detected.
Also make sure that you the directory you select contains the Riot Games folder. Afaik the league install structure is always
` FOLDER X/Riot Games/League of Legends `, so then you

[2021-06-01 01:52] challenger087 commented on #14
I downloaded the newest version but i can't run it properly
[Log-2021-06-01-02-48.log](https://github.com/floh22/LeagueBroadcastHub/files/6572846/Log-2021-06-01-02-48.log)

[2021-06-01 09:21] floh22 commented on #14
Can you please post the crash log in Logs/Crash Logs?

[2021-06-01 19:36] challenger087 commented on #14
I installed the game in C:\\ everything now is fine.
I wonder if you have a plan to add the drakes and baron timer in the future ? anyway thank you for help and for your awesome Project :) i hope Riot will certified your App, you really did an amazing job, Good luck!
![image](https://user-images.githubusercontent.com/60705849/120379730-7721b680-c320-11eb-9701-46168516f471.png)

[2021-06-02 19:22] #14 closed, assigned to floh22

[2021-06-06 17:29] OrionCodeDev opened #15 "[FEATURE] Item Purchase Indicators with item name"
Hey mate,
Sorry for not using the template, but it doesn't refer to the description of the suggestion. I hope that's not a problem.

I asked the community and one suggestion to improve your tool would be to add a bar with the name of the item you purchased. CBLOL takes advantage of something like this and it really improves the reception and draws attention. I would like to thank you because you a

[2021-06-08 23:07] ignacio-fsstudio opened #16 "[BUG] App crashes on startup when fetching v11.12.1 offests"
The app crashes upon launch, it was working fine until yesterday.

It seems from the crash logs that the app is attempting to fetch offsets for v11.12.1 even though the current version is v11.11. The request is creating a 404 error and the app crashes. I'm attaching the logs for further evidence

[Crash-2021-06-08-19-55.log](https://github.com/floh22/LeagueBroadcastHub/files/6620055/Crash-2021-06-

[2021-06-09 12:10] floh22 opened #17 "[BUG] Changing Language can break memory reading"
**Describe the bug**
Memory Reading does not work correctly for some other languages where champion names are changed

**To Reproduce**
Steps to reproduce the behavior:
1. Change Language to french
2. Play seraphine

**Expected behavior**
Seraphine is not detected because of the é

[2021-06-09 12:15] floh22 commented on #16
It should in theory use the old offsets if it cannot get the new ones, which seemed to be working fine for me when I last tested it.
It seems though that under some certain circumstances it crashes all together without properly performing the checks.

You can also force a version by setting "contentPatch" to the patch in Config/PickBan.json. I know this is a horrible location but I never cleaned u

[2021-06-10 21:06] ignacio-fsstudio commented on #16
Closing as the update seems to have solved the issue

[2021-06-10 21:06] #16 closed, assigned to floh22

[2021-06-11 01:06] shinilee opened #18 "I have 2 pc streaming set up"
I have 2 pc streaming set up
I been using pick/ban ui no problem

but I'm stuck on this one

http://localhost:9001/frontend

I though I only need to change localhost to ip address

http://192.111.1.111:9001/frontend

something like that but it doesn't show the overlay

when I put on chrome it does read as League Broadcast Hub

but it doesn't show the overlay

help me please

[2021-06-11 16:44] floh22 commented on #18
Workaround for now:

1. Download repo and open `Overlays/ingame/variables.ts`
2. Change `backendUrl` to your desired IP
3. In the folder `Overlays/ingame` open cmd and run `npm run build`
4. Copy `Overlays/ingame/dist` to `your LeagueBroadcast Install/Frontend/ingame`
5. Start LeagueBroadcast

I hope this works until I have the time to write a proper fix

[2021-06-11 17:43] shinilee commented on #18
thank you I'm not in hurry I'm just getting know this I will test this once I get to home by the way is there anyway that I can use my own overlay? I tried to change img but it only does the mask :(

[2021-06-11 20:49] Ukan0 opened #19 "[FEATURE] Ability to change the background of EXP / Gold Tab, Scoreboard etc"
Is your feature request related to a problem? Please describe.
No. Its not

Describe the solution you'd like A clear and concise description of what you want to happen.
I want to be able to replace the background files of exp / gold tab etc. I know that i can replace the background of the gold graph by replacing the "CenterCover" at overlay\Frontend\ingame\backgrounds

Describe alternatives you've

[2021-06-12 00:21] shinilee commented on #18
I tried and I fail on step no.3 so I tried my way after I got an idea from ur help
I went to frontend > ingame and open main.js and search localhost and change to ip address and it work ^^
now I just need to figure it out how to edit the scoreboard for my own image

[2021-06-17 18:01] PavlitooPL opened #20 "Custom Scoreboard"
Hello,

I have a question. Can you please tell us how we can change the scoreboard to as attached? How can we change the background into a picture, or the colors as in the picture, and is it also possible with dragons?
![202576289_395798925069552_3994073255724810970_n](https://user-images.githubusercontent.com/86074972/122449950-bd287c80-cfa6-11eb-81a1-cea70c0a0ae2.png)

[2021-06-18 11:15] floh22 commented on #20
This currently is not a feature.

If you wish for me to implement it for you, contact me personally and we can see what I can do

[2021-06-18 11:16] floh22 commented on #19
Currently you can change the background color by editing the Ingame.json config. I will be changing this in the future to also support images as well

[2021-06-18 11:16] #19 closed, assigned to nobody

[2021-06-18 13:41] shinilee commented on #20
I'm interested how can I contact you on personal?

[2021-06-18 16:03] floh22 commented on #20
you can contact me via twitter [@larseble](https://twitter.com/larseble)

[2021-06-18 16:57] shinilee commented on #20
it said I can't send message to you on twitter

[2021-06-19 13:46] shinilee commented on #19
that doesn't change scoreboard. Scoreboard change back to original blue color.

![image](https://user-images.githubusercontent.com/82671596/122644508-8efc8700-d0e3-11eb-93e1-8043e3babbb4.png)

[2021-06-20 00:51] shinilee commented on #20
I sent message but you never respond me from twitter

[2021-06-20 16:50] floh22 commented on #20
sorry, im rather busy at the moment. Im reworking the frontend anyway, so I will look to add this feature

[2021-06-24 03:12] shinilee opened #21 "can't open anymore"
today I just test it and it just fade away it used to work tho... I want to test the post game if it work

[2021-06-24 03:58] empvini opened #22 "[BUG] Timers (Elder Baron) frozen since from start."
**Describe the bug**
The timers of Elder and Baron are appearing since the start and stay there even with options not selected

**To Reproduce**
nothing special, just oppened

**Expected behavior**
The timers appearing only when I select it on app.

[2021-06-24 12:19] floh22 commented on #21
This tells me nothing. The issue template is there to help you so I can tell what the issue even is.

 Please provide logs and crash logs as well as screenshots if applicable

[2021-06-24 12:20] floh22 commented on #22
Can you please provide logs when this behavior occurs?

[2021-06-24 13:57] shinilee commented on #21
I test on my work pc and it open but it crash
and dragon icon not showing :(
[Log-2021-06-24-09-52.log](https://github.com/floh22/LeagueBroadcastHub/files/6709774/Log-2021-06-24-09-52.log)
[Crash-2021-06-24-09-55.log](https://github.com/floh22/LeagueBroadcastHub/files/6709776/Crash-2021-06-24-09-55.log)

[2021-06-24 14:14] challenger087 opened #23 "[BUG] Program crashed"
hey! how you doing ? i got a new error, when the drake in taken the program close immediately
here the crash log :
[Crash-2021-06-24-15-07.log](https://github.com/floh22/LeagueBroadcastHub/files/6709877/Crash-2021-06-24-15-07.log)

[Log-2021-06-24-14-52.log](https://github.com/floh22/LeagueBroadcastHub/files/6709888/Log-2021-06-24-14-52.log)

[2021-06-24 14:48] floh22 commented on #23
can you send the replay of the game where this occurs? I cannot seem to recreate this issue

[2021-06-24 15:09] floh22 commented on #23
Hotfix 6af968c should prevent this issue

[2021-06-24 15:09] #23 closed, assigned to floh22

[2021-06-24 15:10] floh22 commented on #21
Hotfix 6af968c fixes this issue

[2021-06-24 15:10] #21 closed, assigned to nobody

[2021-06-24 15:58] challenger087 opened #24 "[BUG] EXP / Gold Tab & CS per min not working"
After your recent update EXP / Gold Tab & CS per min not working
[Log-2021-06-24-16-13.log](https://github.com/floh22/LeagueBroadcastHub/files/6710596/Log-2021-06-24-16-13.log)

[2021-06-24 16:06] floh22 commented on #24
Im currently working on a full remake of the frontend. The latest update may break some things until it is ready. This might take a week or two.

sorry for the inconvenience

[2021-06-24 16:19] challenger087 commented on #24
No problem

[2021-06-24 16:19] #24 closed, assigned to floh22

[2021-06-25 02:10] shinilee opened #25 "[BUG] after update ingame future issue"
Inhibitor Timers, EXP Tab, Gold Tab, CS per Min.
Doesn't work

and for the scoreboard this problem is old problem when I turn on the Team Scores and Turn it off it won't turn it off I have to disable and enable on obs
[Crash-2021-06-24-20-22.log](https://github.com/floh22/LeagueBroadcastHub/files/6713032/Crash-2021-06-24-20-22.log)
[Log-2021-06-24-21-46.log](https://github.com/floh22/LeagueBroadca

[2021-06-25 02:27] shinilee commented on #25
sorry I just read closed issue that someone else already report this bug I'm closing this

[2021-06-25 02:27] #25 closed, assigned to floh22

[2021-06-25 04:00] alexissosa88 opened #26 "HUD IN GAME"
¿Alguien pudo cambiar el aspecto in game del score e info de oro, exp, ect? Ayuda!

[2021-06-25 10:42] JoanJuan10 commented on #26
Por ahora no, pero tengo entendido que en el futuro se podrá editar.

[2021-06-25 19:20] cruxm4n commented on #26
what is your discord ? i can help you

[2021-06-25 23:56] alexissosa88 commented on #26
Ale-Sosa#5258 is my discord!

[2021-06-26 00:39] empvini commented on #22
Sorry, i got what happens - Streamlabs OBS Browser isnt compatible with API

[2021-06-27 20:56] JoanJuan10 opened #27 "[BUG] Using the Reload button in OBS causes a crash"
**Describe the bug**
Whenever you use the Reload button in OBS to reload the overlay in game, GOLD, EXP and CS/MIN graphs quit working and sometimes causes a crash

**To Reproduce**
Steps to reproduce the behavior:
1. Normal reproduce of a game, and suddenly it seems to freeze.
2. Reload the overlay
3. Execute either of the 3 graphs and won't work (The Gold diff graph works perfectly fine though)

[2021-06-27 23:51] floh22 commented on #27
What is your game language? If it is not english, can you try and see if setting your game language to english fixes the issue?
Can you send the .rofl replay file so I can see if it has anything to do with summoner names/champs/etc?

The error file seems to indicate it was having issues reading values anyway, but the gold graph is what crashed it, which is weird considering you said it was the onl

[2021-06-27 23:53] floh22 commented on #22
Any browser should work fine with the program. You may have to check an option like "refresh source when active" or similar.

If an option like that does not fix it, can you open the frontend in a browser and check the browser console for any errors?

[2021-06-28 09:58] JoanJuan10 commented on #27
Here is the replay used and captures of the non expected behaviour before the crash

[Files.zip](https://github.com/floh22/LeagueBroadcastHub/files/6725297/Files.zip)

[2021-06-28 17:46] MrToWy opened #28 "[BUG] Install path"
![image](https://user-images.githubusercontent.com/44198402/123680871-76aa0c00-d849-11eb-99f8-2e6aba65c262.png)

I think LeagueBroadcastHUB is having an issue with my installation path.

This is the path of my LoL.exe:
A:\Spiele\Riot Games\Valorant\League of Legends\LeagueClient.exe

This is what I've added to the config-file:

"LeagueInstall": [
      "C:\\",
      "D:\\",
      "E:\\",
      "A:

[2021-06-28 20:18] floh22 commented on #28
Try `A:\\Spiele` and see if that helps. Replace all `\` with `\\`

The Configs arent very user friendly at the moment, im sorry.

[2021-06-28 20:49] MrToWy commented on #28
Oh, sry, that's what I've done, GitHub formatted it differently 😂

![image](https://user-images.githubusercontent.com/44198402/123701943-c9dc8880-d862-11eb-827f-5f198fe12564.png)

[2021-06-28 20:49] MrToWy commented on #28
A fix for me would be to move the game to another folder, but maybe others users have a similar path and the code should be fixed? 🤔

[2021-06-28 21:23] #20 closed, assigned to nobody

[2021-06-28 21:23] #28 closed, assigned to floh22

[2021-06-28 21:25] floh22 commented on #28
Next release should support you adding the League folder directly, so would only need to include
`A:\\Spiele\\Riot Games\\Valorant\\League of Legends` in your case.

I did not expect people to have their game folder within another Riot Game folder. Guess that ones on me for assuming

[2021-07-04 21:24] DeathlezzLoL opened #29 ".net.core is not found [BUG]"
Just that, i installed several versions and none of em are found by the LeagueBroadcast.exe. it is really annoying

[2021-07-04 21:28] #29 closed, assigned to floh22

[2021-07-09 18:27] floh22 commented on #27
Side pages should be fixed in the latest update

[2021-07-09 18:27] #27 closed, assigned to floh22

[2021-07-09 18:28] floh22 commented on #26
Closed due to inactivity

[2021-07-09 18:28] #26 closed, assigned to floh22

[2021-07-09 18:28] floh22 commented on #18
Both multi PC support and Overlay customization added in latest release

[2021-07-09 18:28] #18 closed, assigned to floh22

[2021-07-09 18:29] floh22 commented on #22
closed due to inactivity

[2021-07-09 18:29] #22 closed, assigned to floh22

[2021-07-09 18:29] floh22 commented on #15
Support for item name indicators added in latest release

[2021-07-09 18:29] #15 closed, assigned to floh22

[2021-07-09 20:14] shinilee opened #30 "[BUG] 1.4.2"
Thank you for this huge update I love it!!

I'm still testing right now but I will keep add if I found new bug

"ItemComplete"
BUG 1. if I change "ShowOnScoreboard" to True it doesn't show on scoreboard
BUG 2. ShowItemName : true, the mask only work on Blue Side (Left), Red Side the mask doesn't work

"ObjectiveKill"
BUG 3. If I change UseVideo to True the Video showing only 1 to 2 sec

[2021-07-09 21:14] floh22 commented on #30
1. I have not added scoreboard yet. I will have to add proper documentation for what works, what doesnt, and how.
3. `ForceDisplayDurationForVideo = true` should make the video play for its entire duration, otherwise the duration set by `DisplayDuration` will be used

[2021-07-09 21:40] shinilee commented on #30
Thank you for quick replay

it's set as true for ForceDisplayDurationForVideo but it play 1 to 2 sec and goes away :(

and Found the new bug for teamcolor

if I change ingame.json file
I change the Circle Color "UseTeamColor" to false and if I change the score from LeagueBroadcast program the color goes back to team color

nvm for the UseTeamColor it's working now it stay the color I choose from

[2021-07-10 00:23] VortexHD96 opened #31 "viego makes item purchase animation activate + top and bot inhbs timers are switched"
whenever vigeo takes someone died champ he makes all items show up in item purchase animation
top and bot inhbs timers are switched
all can be seen in screenshot
![125146350-b0babe00-e125-11eb-8ef0-9f4b66a8b062](https://user-images.githubusercontent.com/87213159/125146437-1a3acc80-e126-11eb-9e31-7e4afd4fff3b.png)

[2021-07-10 04:03] shinilee commented on #31
I fixed the inhib by switch the lane icon name top and bot

[2021-07-10 14:13] shinilee commented on #30
https://youtu.be/JPPmihaAdNI?t=984

CS/min working fine
Player Gold working fine
EXP per player

missing 2 people avatar

https://youtu.be/JPPmihaAdNI?t=1370

Item Finish offset is higher then Player Gold

[2021-07-10 19:14] #31 closed, assigned to floh22

[2021-07-11 06:27] ForsakenCAAF opened #32 "[BUG] Small Bugs That I Found"
Hey! So I've been messing around with the tool and here are some of the bugs I have found:

1. Senna CSPM - For some reason it is counting her souls as CS in an abnormal way (roughly 0.2 per soul she catchs on the ground), and thus she actually gets insanely high CSPM, saw one that was regular farming plus catching some random souls on the ground and was with 11.2 CSPM with only 82 cs at 11 minute

[2021-07-12 13:40] shinilee commented on #30
hey I just want to make sure this is you

![image](https://user-images.githubusercontent.com/82671596/125297410-33de3e80-e2f5-11eb-9a62-dd1ed2138e2a.png)

[2021-07-12 13:43] floh22 commented on #30
Yes that is me, thanks for confirming

[2021-07-12 17:47] JoanJuan10 opened #33 "[BUG] Video Backgrounds not seem to work on graphs"
**Describe the bug**
Different graphs not having the video background. Though it seems the scoreboard has the video background just fine.

**To Reproduce**
Steps to reproduce the behavior:
Change all image showing settings to false
Change all video showing settings to true

**Expected behavior**
A clear and concise description of what you expected to happen.

**Material**
* If applicable, add scre

[2021-07-12 22:59] floh22 commented on #30
Both champ indicators and indicator height fixed in latest commits

[2021-07-12 22:59] #30 closed, assigned to floh22

[2021-07-12 23:01] floh22 commented on #32
All except Elder Dragon Timer confirmed and fixed in latest commit 6ebb8c93aa0c5dd3bdd9d8c5093f05b399f458a7

Elder Drake Timer could not be reproduced, needs further testing

[2021-07-12 23:01] #32 closed, assigned to floh22

[2021-07-13 01:49] alexissosa88 opened #34 "IDIOMA"
¿Se puede cambiar a español los items e información in game?

[2021-07-13 08:33] OrionCodeDev opened #35 "[FEATURE] Add logos/team names to drake/elder/baron taken popup"
Hey,

It's will be awesome to see it in that tool!

Video Example: https://www.youtube.com/watch?v=k-MHo6yWZmU&t=19s

Image preview: https://i.imgur.com/VYlpzMZ.jpg

[2021-07-13 08:44] OrionCodeDev opened #36 "[FEATURE] Add all dragons type taken PopUp"
Hey,

It's will be awesome to see it in that tool!

For example:
DragonCloudKillScoreboardPopUp
DragonMountainKillScoreboardPopUp
DragonInfernalKillScoreboardPopUp
DragonOceanKillScoreboardPopUp

Preview: https://i.imgur.com/VYlpzMZ.jpg

Best Regards

[2021-07-13 12:31] JoanJuan10 commented on #34
No lo tengo claro, debería mirarmelo pero tengo mis dudas.

(Clarification for English: He is asking if the items names and other info could be translated into Spanish.)

[2021-07-13 13:20] floh22 commented on #34
Item names should be shown in the game language. Once memory works in different languages, they will automatically update.
As for other texts, language support is something that I have not added yet, though may do so in the future

[2021-07-13 13:20] #34 closed, assigned to floh22

[2021-07-13 16:36] alexissosa88 commented on #18
Hola, pudiste editar el fondo del scoreboard? :3

[2021-07-13 22:26] shinilee opened #38 "[BUG]score image"
![image](https://user-images.githubusercontent.com/82671596/125532441-a35800d1-7d9e-4310-904b-912765566d7e.png)

![image](https://user-images.githubusercontent.com/82671596/125532453-ae76843a-f637-4d0a-aa2b-3d78b49652fd.png)

![image](https://user-images.githubusercontent.com/82671596/125532468-1756def4-f1d7-45e7-ae65-8ca237914ee8.png)

after change "UseImage" to true nothing happen until I refres

[2021-07-15 16:34] ForsakenCAAF opened #39 "[BUG] Bugs with the replay"
**Bugs:**

**1.** _Basically when you go back in time, during the replay the dragon count doesn't, meaning you can get an infinite number of dragons._

**2.** _If you spectate a game while it is already going, the kill and dragon count starts as zero in the Score Display HUD, as if the game is just starting._

**To Reproduce:**

**1.** _Let dragon be made. Retrocede a few seconds, let it be made a

[2021-07-15 20:27] floh22 commented on #39
2. sadly cannot be fixed as these values are not read from memory but rather events are captured from the LiveEvents API, so it cannot capture events that have already happened in the past

[2021-07-15 20:56] ForsakenCAAF opened #40 "[BUG] Champion Select"
If you enter the Spectator after the champ select is finished, you won't be able to see the picks or bans. All black.

Just spectate a game that has started 1 minute ago or so.

Expected to show all picks and bans done.

Desktop with Windows 10.

[2021-07-15 21:30] ForsakenCAAF commented on #39
Oh, that's unfortunate!

[2021-07-15 22:04] floh22 commented on #39
The only way that gets fixed is if some esports org ever pays me to make a full memory reading version that is compatible with tournament realm, so its rather unlikely.

A couple features just dont work when you dont follow the standard gameflow. CS, Timers, Kills, Towers, Drakes come to mind

[2021-07-15 22:53] #33 closed, assigned to floh22

[2021-07-15 22:53] #36 closed, assigned to floh22

[2021-07-15 22:53] #39 closed, assigned to floh22

[2021-07-15 22:53] #17 closed, assigned to floh22

[2021-07-15 22:53] #38 closed, assigned to floh22

[2021-07-15 23:30] floh22 opened #41 "[BUG] Circle Score Indicators break when toggled"
**Describe the bug**
Once circle score indicators are enabled and then disabled, they cannot be reenabled again without reloading the frontend.

**To Reproduce**
Steps to reproduce the behavior:
1. Start game with scoreboard and circle score indicators enabled
2. Disable and reenable score
3. Score will not show again until the website is reloaded

[2021-07-16 00:11] ForsakenCAAF commented on #39
I wish you luck with that, there might be someone out there interested and capable of paying. You're doing something great over here.

[2021-07-16 00:29] ForsakenCAAF opened #42 "[BUG] Dragon Icon on Score Display"
After defeating a dragon, all dragons except Elder show a green and black icon (probably one that represents an error or so).

To Reproduce:

1. Enter a game and watch a dragon (that's not Elder) be defeated.

Expected behaviour:

2. Show each dragon's icon.

[2021-07-16 11:33] Pwnedev commented on #39
@floh22 Do you have access to the in-game time? That could solve all those issues

[2021-07-16 12:38] #42 closed, assigned to floh22

[2021-07-16 13:31] JoanJuan10 opened #43 "[BUG] Version number not updated"
**Describe the bug**
Just downloaded the new version but it reminds me there is a new version.

**To Reproduce**
Download the release and open it for the first time, it will always remind you there is a new version

**Expected behavior**
A clear and concise description of what you expected to happen.

**Material**

![nYlEyPz](https://user-images.githubusercontent.com/37046841/125955863-51da1be6-b8

[2021-07-16 14:49] #43 closed, assigned to floh22

[2021-07-16 16:07] JoanJuan10 opened #44 "[FEATURE] Adding support for more image and video formats."
**Is your feature request related to a problem? Please describe.**
Yes, I am not able to use GIF's instead of a simple PNG

**Describe the solution you'd like**
Support for more types of image (mainly GIF) / video

[2021-07-19 13:00] Ukan0 opened #45 "[FEATURE] More Pop Ups. First Blood, First tower, ACE"
**Is your feature request related to a problem? Please describe.**
Its not

**Describe the solution you'd like**
I would like the same pop ups that are currently for the baron spawn / kill etc. but for First Blood, First Tower and for ACE

**Describe alternatives you've considered**
Its probably a harder version but if First Blood notification would appear the same way as the lvl up pop up but ins

[2021-07-20 19:17] alexissosa88 opened #46 "app se cierra al iniciar sesión"
*alguna solución donde no abre la app, carga y automáticamente se cierra

[2021-07-21 13:03] floh22 commented on #46
Please create issues in english so both I and others on the git can understand the issue

[2021-07-21 13:03] #46 closed, assigned to floh22

[2021-07-21 13:15] JoanJuan10 commented on #46
I reopen this to translate this message:

"Any fix where the app doesn't open, it loads but then it automatically closes"

`Disclaimer: I am only translating this so we all can understand, I am not submiting this as an issue that happens to myself either.`

[2021-07-21 16:15] alexissosa88 commented on #46
After the update, when you open the application it closes at the moment without being able to select anything, any solution?

[2021-07-21 16:16] alexissosa88 opened #47 "APP NOT RUN"
After the update, when you open the application it closes at the moment without being able to select anything, any solution?

[2021-07-21 16:55] floh22 commented on #47
Please provide logs and crash logs so I can see what is happening.
It would be best if you set LogLevel = 3 in Component.json config so logging shows more

[2021-07-21 17:00] alexissosa88 commented on #47
can I communicate by some direct channel with you to show you a video, why do I not understand? discord?

[2021-07-21 17:49] JoanJuan10 opened #48 "[BUG] Start of a spectated game, replay or live and it Crashes"
**Describe the bug**
The app crashes whenever I start spectating a live game or I start a replay (In the case of replays, it even crashes league of legends)

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on Essence (Client Connected)
2. Spectate a Live Game
3. Crash occurs

1. Start a replay
2. Whenever the game start and some time elapses, it sometimes crashes.

**Expected behavior**

[2021-07-21 21:36] JoanJuan10 opened #49 "[BUG] Inhibitor timers turned around"
**Describe the bug**
When a botlane inhib is destroyed, instead it appears to have destroyed the top lane one
**To Reproduce**
Steps to reproduce the behavior:
No steps, just spectate a game

**Expected behavior**
It should mark the correct inhibitor

**Material**
* If applicable, add screenshots to help explain your problem.
* Include Logs of when the error occured, as well as the crash log if ap

[2021-07-22 16:00] VortexHD96 commented on #44
.mov support too for transparent videos would be huge

[2021-07-23 18:13] floh22 commented on #48
Can you send me the replay file you used?
I have a theory but no good way to test it without the specific replay

[2021-07-23 18:37] JoanJuan10 commented on #48
Okay. I will send it.

[EUW1-5378141950.zip](https://github.com/floh22/LeagueBroadcast/files/6870605/EUW1-5378141950.zip)

[2021-07-23 23:05] Fl0rixn44 opened #50 "[BUG] Gold Graph, EXP, CS/MIN and GOLD Tab doesnt work anymore"
Happend after the newest and "good" League Patch 11.15.1

[2021-07-23 23:18] #50 closed, assigned to floh22

[2021-07-23 23:18] Fl0rixn44 commented on #50
yup, had to restart league and it fixed it. wow. xD

[2021-07-23 23:21] floh22 commented on #48
Just watched the full game with both exp tab and gold graph open without issue.
Does it crash for you every time you open the game?

[2021-07-23 23:23] floh22 commented on #47
you can send me a video via twitter. its linked in this git.

Otherwise, im guessing I know what happened and this should not be an issue anymore.

[2021-07-23 23:23] #47 closed, assigned to floh22

[2021-07-24 12:07] JoanJuan10 commented on #48
The issue has not to do with either of those graphs. The issue is that when the mouse hovers on the timeline of the replay, it makes the replay crash.
When having the program not started, it doesn't crash neither causes any problems.

[2021-07-24 12:57] floh22 commented on #48
if the game crashes while you do something in game, that isnt a problem with this. Seems like a patch/installation/PC issue.

Cannot reproduce

[2021-07-24 12:57] #48 closed, assigned to floh22

[2021-07-24 17:28] brandonnly opened #51 "[BUG] Crash on Startup"
**Describe the bug**
App crashes on startup.
- Tried fresh installs, redownloaded, with league client open and closed. Always crashes with the same log.

Something with the async controller I believe, but I don't know enough C# yet to understand it fully.

**To Reproduce**
- Launch LeageBroadcast.exe

**Expected behavior**
App starts up.

**Crash Log**
[code]

**Additional context**
- It was worki

[2021-07-24 18:31] floh22 commented on #51
Can you go to configs -> component and set LogLevel to 3, then post the normal log when this happens? It looks like it cannot find your League Install for some reason, though it should throw an error, not crash. Mind also sharing where your league is installed?

[2021-07-24 19:04] brandonnly commented on #51
I see thats weird, my League install hasn't moved at all and it was working before.

It's installed at `C:\Riot Games\League of Legends`. I see that it's looking at an F: drive, but I don't even have one.

I set the log level to 3, here's the bottom half after it loads in the other config files:
[code]

Crash report says the exact same thing as before.

Also tried removing all other possible locat

[2021-07-24 19:09] floh22 commented on #51
Ok. So it looks like its having trouble reading your game config. This shouldnt cause a crash, but I obviously overlooked something.

Can you try the following steps:
1. Close both LB and the client
2. Rename `C:\Riot Games\League of Legends\Config\game.cfg` to something like `gamebackup.cfg` or something of the sort.
3. Start the client
4. Start LB

This should reset your cfg and will probably re

[2021-07-24 19:16] brandonnly commented on #51
Have to do something now, so I will update tonight on if that fixes it. But if you think its the `game.cfg`

I only made two manual modifications which were for broadcast:

I added: `EnableReplayApi=1` under `[General]`
And I added `[Spectator]
eSportsNeutralTimers=1`.

Here's the full file:
[code]

By the way, thanks for a quick response, this is an absolute game-changer for my broadcasts and I w

[2021-07-25 03:34] brandonnly commented on #51
Just reset my `game.cfg`, the issue still persists.

[2021-07-25 19:05] OrionCodeDev opened #52 "[FEATURE] The amount of gold next to the character icon"
Hey,

It's will be awesome to see it in that tool!

Image preview/example: https://i.imgur.com/khJ89rP.png

Best Regards

[2021-07-25 21:57] #41 closed, assigned to floh22

[2021-07-25 21:57] #49 closed, assigned to floh22

[2021-07-26 12:30] floh22 commented on #51
The next step would be to delete LiveEvents.ini from the same folder and see if that helps, though I doubt it.
What is the file type and line ending type for game.cfg and LiveEvents.ini? Check to make sure they are UTF-8 and have Windows (CR LF) line endings, Notepad++ or similar should tell you. Other formats should in theory work, though I havent tested that yet.

You can also try again using th

[2021-07-26 18:29] brandonnly commented on #51
The newest build works so far thanks! I will update if the issue persists again after a day. The last one randomly popped up after a day.

[2021-07-31 01:06] matthewpsbilo commented on #51
**Describe the bug**
@floh22 Hello, League Broadcast is also crashing for me after opening League Client. I have a different error though.

**To Reproduce**

1. Launch LeagueBroadcast.exe
2. Launch League Client.
3. Login to League. (Crash happens here)

**Expected behavior**
App stays running after login.

**Crash Log**

[code]

**Additional context**

It's working great on my Intel CPU laptop, b

[2021-07-31 18:13] floh22 commented on #51
This seems to be an unrelated issue. Please open a separate issue.
Though im guessing your issue should probably be resolved with a PC restart. If its not the case, open a separate issue

[2021-07-31 18:13] #51 closed, assigned to floh22

[2021-07-31 18:14] floh22 commented on #51
Closed due to inactivity and issue being seemingly resolved

[2021-08-01 00:44] matthewpaolosbilo opened #59 "[BUG] Crash after League startup"
**Describe the bug**
@floh22 Hello, League Broadcast is also crashing for me after opening League Client. I have a different error though.

**To Reproduce**

1. Launch LeagueBroadcast.exe
2. Launch League Client.
3. Login to League. (Crash happens here)

**Expected behavior**
App stays running after login.

**Crash Log**

[code]

**Additional context**

It's working great on my Intel CPU laptop, b

[2021-08-08 20:58] shinilee opened #60 "[BUG] Scoreboard Popup"
working until 2nd baron appear

it doesn't popup on 2nd baron appear and it appear after 60secs
and after that blue and red team each have 2 stack of dragon and blue just killed dragon and that make 3 dragon but the soul point popup
and next dragon popup after 21secs and next baron popup appear after 66secs
[Log-2021-08-08-15-34-0.log](https://github.com/floh22/LeagueBroadcast/files/6951437/Log-20

[2021-08-08 21:00] shinilee opened #61 "[FEATURE] Local Font Support"
I change to Korean and since it read from google font there is not really good font choose from for Korean I'd like to use local font so when the item popup name is much better with my own font for Korean.

[2021-08-19 15:33] makermatic commented on #59
Having the same issue, especially during switch between draft and game

[2021-08-21 02:36] FireFoXz09 commented on #60
I've also noticed the "Soul Point" at the 3rd dragon. Not sure if it's a bug or if it's programmed to tell us that the next dragon gonna be soul point for a team. I would prefer a different announce if a team kill the 4th dragon, and get the soul (instead of announcing that the next dragon could be the soul, or maybe both, actually!)

[2021-08-21 06:08] FireFoXz09 commented on #59
Similar thing here. The app crashes when the game start (after the champ select and the loading screen, at like 0:01 second in the game) Need to restart it each time

[2021-08-21 16:15] FireFoXz09 opened #62 "[BUG] Custom color from teams won't load when you restart the program"
**Describe the bug**
When you close or restart the League Broadcast program, The Color Pick reset to the default blue / red color, even if in the TEAM.json files, the custom rgb is saved with the correct color.

**To Reproduce**
Steps to reproduce the behavior:
1. Open League Broadcast
2. Click on Pick Ban (on the left menu)
3. Select a Custom Color for your team.
4. Save your team (with the "+" b

[2021-08-22 02:15] DaBenjamins commented on #59
I am having the same issue.

[2021-08-22 21:55] #59 closed, assigned to floh22

[2021-08-22 22:01] floh22 commented on #62
This is mostly the result of team colors being something I added, then later changed how they work to make side specific colors easier to use. I will probably fix this at some point, but for now, colors are side specific instead of team specific

[2021-08-22 23:00] alexissosa88 opened #63 "[BUG] Versión 1.4.70 not found"
double-clicking does not open the app

[2021-08-23 16:54] floh22 commented on #63
Fixed in latest release. Those who updated to 1.4.70 will have to redownload, but update will work from now on

[2021-08-23 16:54] #63 closed, assigned to floh22

[2021-08-26 02:40] shinilee opened #64 "[BUG] Can't read ingame Gold"
![image](https://user-images.githubusercontent.com/82671596/130891404-7394d58d-c421-4890-b1ff-28511007d571.png)
[Log-2021-08-25-22-39.log](https://github.com/floh22/LeagueBroadcast/files/7051126/Log-2021-08-25-22-39.log)
can't read ingame blue, red team gold

[2021-08-26 02:55] alexissosa88 commented on #64
Idem Problem

[2021-08-26 04:26] shinilee commented on #64
what is that mean Idem Problem?

[2021-08-26 04:27] shinilee commented on #64
I also having problem with Objective Pop Ups / Spawn and Leveling Popup and Item Popup not working

[2021-08-26 09:21] floh22 commented on #64
Could you set the log level to Verbose and send that log file? It should be far larger. It might also help if you can send a replay of a game where this issue happens

[2021-08-26 10:26] overkido commented on #64
any replay is giving an error and does not count the gold, does not show the experience of each character, levalup also does not appear.
[Crash-2021-08-25-18-40.log](https://github.com/floh22/LeagueBroadcast/files/7056169/Crash-2021-08-25-18-40.log)
![image](https://user-images.githubusercontent.com/89580284/130946861-7890c91a-2297-477b-915d-ae5ef3a1d14c.png)

[2021-08-26 10:27] overkido opened #65 "> Idem Problem"
bug in app, gold doesn't work, pops level item, spawn can someone help, and who can help fix bug.
![image](https://user-images.githubusercontent.com/89580284/130948325-eb4796f8-aa5c-4e1b-84ee-aa306a76e5e7.png)

what is that mean Idem Problem?
_Originally posted by @shinilee in https://github.com/floh22/LeagueBroadcast/issues/64#issuecomment-906084774_

[2021-08-26 11:10] overkido opened #66 "[BUG]"
where changes the left bd of dragon elder that personaliser but uses nashon msm and not bdleft
![image](https://user-images.githubusercontent.com/89580284/130951801-a6c040eb-b38c-4f27-ad00-e1c817dcb11b.png)

the bg of the left I want for this but it doesn't change the same as baron nashon.
![image](https://user-images.githubusercontent.com/89580284/130952357-3a381d1f-39e3-46a5-96a3-ed390080f24a.pn

[2021-08-26 13:36] shinilee commented on #64
Baron Power Play Popup but Gold stay in 0 Timer working
Elder Timer Couldn't test
Inhibitor Timers Working
Objective Pop Ups Spawn Dragon Spawn Not Working, Rift Spawn Not Working, Baron Spawn Working
Objective Pop Ups Kill Working
Item Notifications Not Working
Level Up Notifications Not Working
EXP Tab Pop up appears but Numbers doesn't change
Gold Tab Pop up appears but Numbers doesn't change
C

[2021-08-26 13:40] shinilee commented on #64
can't upload replay too big I search CQ AWM and tested on all recent game on NA server

[2021-08-26 14:35] OrionCodeDev commented on #64
Update Offsets to latest version, same problem i fixed it in that way. Cheers

[2021-08-26 15:22] shinilee commented on #64
is that mean I can use it now? or do i have to wait until the update?

[2021-08-26 17:34] alexissosa88 commented on #66
voce tiiene discord OVERIKDO?

[2021-08-26 18:23] overkido commented on #66
Sim chama lá.
![image](https://user-images.githubusercontent.com/89580284/131015857-a046274c-8499-408b-9027-d101c2ceac86.png)

[2021-08-26 18:25] overkido commented on #64
my already updated i downloaded again updated and still buggy, i have championship to transmit s´frill semi final and will be without the overlay if n comes back to work.

[2021-08-26 18:29] #64 closed, assigned to floh22

[2021-08-26 18:29] alexissosa88 commented on #66
Ale-Sosa#5258 Add me no encontro

[2021-08-26 18:36] floh22 commented on #65
Should be fixed

[2021-08-26 18:36] #65 closed, assigned to nobody

[2021-08-26 18:38] floh22 commented on #64
Issue should be fixed permanently in next versions, but for now I have added a workaround.

Riot has not updated DDragon, so it still says 11.16, while the client is on 11.17. I accidentally used the DDrag version instead of local client version when determining which offsets to fetch from github.

[2021-08-26 18:40] floh22 commented on #66
Values being wrong should be fixed.

As for the first part, the left indicator, so drake, only works when Elder is taken, since I did not think a normal dragon power play makes much sense, only for elder/baron. So when Elder is taken, the left indicators will be used

[2021-08-26 19:16] alexissosa88 commented on #66
no logro encontrar :(

[2021-08-26 19:33] overkido commented on #66
Chama no Twitter ou Instagram.
Twitter: @IagolMoura,
Instagram: @iagomouraof

[2021-08-26 19:37] overkido commented on #66
that's when he does it himself, he doesn't use the image of the elder I made, but the same as the baron, I want to know if there's a way to change it to not use the msm of the baron but the one of the bgleftelder.

[2021-08-26 20:40] overkido commented on #66
![image](https://user-images.githubusercontent.com/89580284/131032472-a6e25533-03ec-4820-9094-9e21d2a51c45.png)

elder's bg doesn't stay, he keeps the baron's power play bg, i want to know if there's a way to modify only the elder's when it's done and stays there on the left to keep the bg i made for elder.

![image](https://user-images.githubusercontent.com/89580284/131032507-e22f6f52-23d4-404a-b

[2021-08-26 20:45] overkido commented on #66
I don't know if there's how, but would it be possible to put the drags and herald timer and put the baron's arautop in the league broudcast layout?, to remove this one from riot that puts in the game?, to customize the text and the timer image too like the one from lck that when he makes a baron he gets power play on the side of the team he made.

![image](https://user-images.githubusercontent.com

[2021-08-27 08:46] daisukedd commented on #66
Overkido adiciona no discord 𝗱𝗮𝗶𝘀𝘂𝗸𝗲#0132, segui você no twitter, gostaria de trocar um papo e conversar sobre a HUD.

[2021-08-27 12:36] overkido commented on #66
manin não achei não seu discord chama no twitter

[2021-08-27 14:37] overkido commented on #66
174 / 5000
Resultados da tradução
what i said about using the same image in baron and elder was that about power play uses msm i did it based on the contents of the folder that had the left objective and it doesn't change .

![image](https://user-images.githubusercontent.com/89580284/131144241-b0d052af-9f33-451d-9726-e3bded0188b8.png)

[2021-09-01 13:57] 18y45 opened #67 "[FEATURE] Use on tournament server."
Hello,
I am making this message for a feature that will allow you to use the program (or what is possible) on the tournament server

More and more riot gives TR accesses
for amateur tournaments I think it would be a good idea.

thanks in advance

[2021-09-01 14:10] floh22 commented on #67
Duplicate of #3

[2021-09-01 14:10] #67 closed, assigned to floh22

[2021-09-01 15:07] shinilee opened #68 "[BUG] inhibitor"
it won't hide after time out

[2021-09-03 21:48] overkido commented on #68
the emu isn't hiding either

[2021-09-03 22:16] overkido commented on #68
mine isn't hiding either, and when you put a custom image, the image doesn't appear

[2021-09-04 19:21] FireFoXz09 commented on #68
Samething here, custom images have trouble to load with the inhibitor timer AND the gold graph pop-up.

Also, if an inhibitor respawn, it's won't hide, but if in the meantime (while all inhib are alive/up) another inhibitor is destroyed, the League Broadcast crash and close.

[2021-09-04 19:24] FireFoXz09 commented on #66
Maybe because you misnamed the picture? You need to name it ObjectiveBGLeft and not ObjectiveBGElder I think?

[2021-09-06 04:19] overkido commented on #66
no I changed the name in the image and changed it in main.js, to see if the image changed but it doesn't change it keeps the baron's bg

[2021-09-07 23:13] overkido opened #69 "[BUG]"
the broadcast is crashing when the gold chart opens and closes.

how to fix, and how to increase the source of graphic gold?

[2021-09-08 01:12] ihabdz55 opened #70 "the pick and ban iu does not work"
hi guys i followed these steps
- Download latest release
- Unzip release to desired install folder
- Add http://localhost:9001/frontend?backend=localhost as a browser source in OBS in your ingame scene
Add http://localhost:9001/?backend=ws://localhost:9001/api as a browser source in OBS in your PickBan scene

everything works fine but the last step the pick ban scene when i start a champ select no

[2021-09-08 12:24] floh22 commented on #70
Can you post logs when this issue occurs?

[2021-09-08 12:25] floh22 commented on #69
Please provide logs and crash logs when the crash occurs.

As for increasing source of graphic gold, im not quite sure what you mean by that. You can resize almost all elements of the frontend through in ingame.json file

[2021-09-08 12:26] floh22 commented on #68
Can you post crash logs and logs when this issue happens?

As for it not hiding, that has been a problem for some time and so far I have not been able to find the root of the issue.
I am working on a rewrite and hope that will solve this

[2021-09-08 14:38] ihabdz55 commented on #70
yes but i don't  know  how or where to find the logs

[2021-09-08 14:41] ihabdz55 commented on #70
[Log-2021-09-08-15-39.log](https://github.com/floh22/LeagueBroadcast/files/7129703/Log-2021-09-08-15-39.log)
here is the log sir

[2021-09-08 14:53] floh22 commented on #70
mind posting the crash log as well?

[2021-09-08 15:01] ihabdz55 commented on #70
[Crash-2021-09-08-15-40.log](https://github.com/floh22/LeagueBroadcast/files/7129852/Crash-2021-09-08-15-40.log)
[Crash-2021-09-08-15-43.log](https://github.com/floh22/LeagueBroadcast/files/7129853/Crash-2021-09-08-15-43.log)
[Crash-2021-09-08-15-52.log](https://github.com/floh22/LeagueBroadcast/files/7129854/Crash-2021-09-08-15-52.log)
yes

[2021-09-08 15:02] ihabdz55 commented on #70
also when the champ select ends the app closes and i need to start it again once i'm in the game

[2021-09-08 18:20] ihabdz55 commented on #70
[Log-2021-09-08-19-17.log](https://github.com/floh22/LeagueBroadcast/files/7131025/Log-2021-09-08-19-17.log)
here is the log
and here is the crash logs when i enter champ select nothing happens and the programm crash

[Crash-2021-09-08-19-19.log](https://github.com/floh22/LeagueBroadcast/files/7131027/Crash-2021-09-08-19-19.log)

[2021-09-09 13:08] #66 closed, assigned to floh22

[2021-09-09 13:08] #70 closed, assigned to nobody

[2021-09-09 13:16] alexissosa88 opened #71 "[POST MATCH]"
Good morning, I wanted to know if it is for sale or you can work on the post match to be able to add it to our transmissions and if so, how to contact it. Thanks a lot!

[2021-09-09 14:06] ihabdz55 commented on #70
f

[2021-09-09 14:07] ihabdz55 opened #72 "app crashes + the champ select does not show anything"
hello so this is  what i do step b step : i open the league boardcast and i open the league of legends client
i create a custom game with only me on the team no bots and nothing is shown in the
http://localhost:9001/?backend=ws://localhost:9001/api
![image](https://user-images.githubusercontent.com/88833836/132702452-85d281a3-dea7-4b0d-8f94-b78b3662d2d2.png)

log :
[Log-2021-09-09-15-45.log](https

[2021-09-09 14:27] ihabdz55 commented on #72
the log
[Log-2021-09-09-15-24.log](https://github.com/floh22/LeagueBroadcast/files/7137355/Log-2021-09-09-15-24.log)

the crash
[Crash-2021-09-09-15-26.log](https://github.com/floh22/LeagueBroadcast/files/7137358/Crash-2021-09-09-15-26.log)

[2021-09-09 14:39] ihabdz55 commented on #72
an other crash
[Crash-2021-09-09-15-38.log](https://github.com/floh22/LeagueBroadcast/files/7137438/Crash-2021-09-09-15-38.log)

[2021-09-09 15:13] overkido commented on #69
how to increase the font of the golden chart, in ingame.json in font/size: it's not increasing the font size

[2021-09-09 15:15] overkido commented on #68
on the inhibitor it would be possible to change the side of the inhibitors, the blush has the inhibitors only from the blush, and the redside the inhibitor timer is above the minimap?

[2021-09-09 15:16] markos10l opened #73 "[BUG] Pick and ban not responding"
**Describe the bug**
the Pick and Ban phase not responding

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'strat league of legends client'
2. Click on 'create a custom game and start the pick and ban phase'
3. Scroll down to 'start  banning and picking champs '
4. See error

**Expected behavior**
when i go to http://localhost:9001/?backend=ws://localhost:9001/api  i should see the pic

[2021-09-09 15:18] overkido commented on #69
![image](https://user-images.githubusercontent.com/89580284/132713932-24785a00-cb18-421e-a8fb-5dd63b6e2fb0.png)

how to increase the font of the golden chart, in ingame.json in font/size: it's not increasing the font size

[2021-09-09 15:23] #72 closed, assigned to nobody

[2021-09-09 16:32] floh22 commented on #73
Try restarting your league client and PC. Sometimes the client likes to freeze.

I can't reproduce this issue on my PC anymore, so I'm not sure if LeagueBroadcast is the issue or if its the client being weird. Does this happen consistently, or only sometimes?

[2021-09-09 16:43] markos10l commented on #73
i tried restarting my pc but still nothing is shown ( sometimes the overlay of the champ select works ) i don't know why or how but sometimes very rare it works . i think the only solution for me now is to use an other overlay for the pick and ban phase and your  overlay for the in game .
thank you for your time . i hope poeple wont get the same problems as me

[2021-09-09 16:52] floh22 commented on #71
Post Game is TODO, I'll do it at some point. If you wish to help, feel free to create a pull request.

[2021-09-09 16:52] #71 closed, assigned to floh22

[2021-09-09 17:24] floh22 commented on #73
try the newest release. If that doesn't fix it, open the console in your browser and send it, it may contain information about the nature of the issue.

[2021-09-09 17:25] floh22 commented on #68
This is a separate issue.

Original issue fixed in latest release

[2021-09-09 17:25] #68 closed, assigned to floh22

[2021-09-09 17:27] floh22 commented on #69
save the file and reload the webpage, I forgot to add auto update for these values

[2021-09-09 19:04] ihabdz55 commented on #73
hey i download the new version and i did what you told
![this](https://user-images.githubusercontent.com/88833836/132747358-e935e60c-bc54-446b-b102-0fd08ac684ce.png)
 me . can you check the image and tell  me how to fix it plz

[2021-09-09 22:23] markos10l commented on #73
i tryed the new release its seems like nothing in working in the champ select .
this is what i get in the console
![it](https://user-images.githubusercontent.com/90404314/132770519-ab9595b3-db29-41b9-a918-41efe65000fc.png)

[2021-09-10 01:09] FireFoXz09 commented on #69
I can say that the STYLE, NAME, and COLOR works, but the ALIGN and the SIZE option don't change anything, even when I refresh the browser or reset the app.

Just to be clear, I' m guessing it's supposed to change the numbers font on the gold graph.

[2021-09-10 02:52] overkido commented on #69
yes it is the gold numbers of the teams that do not increase, increases the size of the graph and talal but the text is small does not increase.

yes it is the gold numbers of the teams that do not increase, increases the size of the graph and talal but the text is small does not increase.

[2021-09-10 12:30] #73 closed, assigned to floh22

[2021-09-10 12:31] markos10l opened #74 "[BUG]"
![image](https://user-images.githubusercontent.com/90404314/132853547-947981fa-23db-4464-8a9c-a332787ec701.png)

i found the probleme of my pick and ban not working .  can you tell me please how to fix it ?

[2021-09-10 12:41] markos10l commented on #74
![image](https://user-images.githubusercontent.com/90404314/132854732-ff576d5e-baf8-45f1-9c1e-772e20ef86f3.png)

[2021-09-10 13:12] markos10l opened #75 "how can i reduce the size of the app ? it's too big"
![image](https://user-images.githubusercontent.com/90404314/132858454-e9cb4261-a657-4cd5-abf7-d840151e8a84.png)
like the title
tnks

[2021-09-10 19:13] overkido opened #76 "[BUG] on the gold chart"
bug in the gold chart, it only counts one side of the gold, and the font size of the chart does not increase.
can anyone help?, and would it be possible to change the graphic style?

![image](https://user-images.githubusercontent.com/89580284/132905255-cb2aa29a-90f1-409e-bcd9-6d732a5ec2b2.png)

![image](https://user-images.githubusercontent.com/89580284/132905678-503cf912-27f7-454b-b8e1-bb21d0b15b

[2021-09-12 00:28] FireFoXz09 opened #77 "[BUG] Inhibitor timer won't close after they have respawned (version 1.4.97)"
**Describe the bug**
After the inhibitor respawn, the timer does not hide.

The timer does hide if a new inhibitor is killed after they have all respawn and never pop on again, even when I switch on and off the Inhibitor Timers button in the software.

**To Reproduce**
Steps to reproduce the behavior:
1. Spectate a game
2. Wait for the first inhibitor to get destroyed (so the timer appears)
3. Wai

[2021-09-12 00:39] FireFoXz09 commented on #76
It counts only one side of the gold because the Red Team always had te lead, so it's normal! As for the graphic style, you can change the color and the size in the Ingame.json file.

[2021-09-12 16:04] overkido commented on #76
I want to increase the font size, where it shows the gold of the bluside and the redside that is not changing the size I increase the graphic and the font is still msm size

[2021-09-12 23:29] floh22 commented on #75
currently not possible, though it is something that i have planned on changing

[2021-09-12 23:34] floh22 commented on #76
You would have to change code and rebuilt the ingame frontend yourself.

I would start [here](https://github.com/floh22/LeagueBroadcast/blob/v2/Overlays/ingame/src/visual/GraphVisual.ts) in line 242 and onwards. The graph is made using [ChartJS](https://www.chartjs.org/) v.3.4.1

[2021-09-12 23:36] floh22 commented on #74
The screenshots do not help much, though they do show the frontend getting updates. You can try opening the messages and seeing if you making changes in champ select shows up the messages. If they do show up, it may be an issue with the browser. If that is not the case, the issue may be with the client or the program

[2021-09-12 23:37] floh22 commented on #69
closing as crash seems to be resolved

[2021-09-12 23:37] #69 closed, assigned to floh22

[2021-09-13 01:45] markos10l commented on #75
ok tnks

[2021-09-13 01:45] #75 closed, assigned to nobody

[2021-09-18 00:21] makermatic opened #78 "[BUG] Scoreboard stops reporting drakes after a game pause occurs"
**The bug**
During a tournament match, after a game goes into a pause, the scoreboard stops reporting drakes killed after the pause.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a tournament lobby and game
2. Have one team capture at least one drake
3. Have one team pause the game for at least 5 minutes (or around that)
4. Unpause the game
5. Have one team capture the next incoming

[2021-09-18 00:23] DaBenjamins commented on #78
I am experiencing this too

[2021-09-18 13:54] floh22 commented on #78
Im guessing this is due to the LiveEventAPI timing out and closing the socket after a period of inactivity. I'm not quite sure how to fix it atm. I don't know of a way to restart the socket while ingame, so it would require a game restart, which breaks everything else.

[2021-09-22 10:37] iDanielWongi commented on #78
It happens to me too, but now I get a message like that
https://i.imgur.com/vXkI8CM.png

[2021-09-22 17:41] floh22 commented on #78
unrelated issue. This is caused by the league update and me having to update memory offsets. This happens every patch. sometimes im faster than other days to update, it might take up to 24 hours

[2021-09-27 19:29] overkido opened #79 "bug broadcast"
bug in the broadcast, this bug is occurring there is a time since the last update here on my broad, is it only on my?

![image](https://user-images.githubusercontent.com/89580284/134972344-87a4b848-aa4d-4976-afbe-ad215c28b2fc.png)

[2021-09-28 13:42] shir0xyz commented on #79
I also had this error, I just closed it and used the program.

[2021-10-05 05:07] VermilionRose opened #80 "[BUG] Failure to generate graphics"
**Description**
Graphics fail to generate on both pick-ban and in-game browser pages

**To Reproduce**
1. Working with the 1.4.97 release, download and extract to desired install folder (in my case, my Desktop)
2. Open Application LeagueBroadcast
3. Open League of Legends client and confirm "Client Connected" at the top of the Appliction
4. Open http://localhost:9001/?backend=ws://localhost:9001/a

[2021-10-05 18:39] VermilionRose commented on #80
Update on the issue. Graphics generate on the InGame scene using a Replay file

[2021-10-05 18:44] FireFoXz09 commented on #80
Yes because (if I'm not wrong), the LeagueBroadcast software won't work if YOU are in a game. You need to be a SPECTATOR for it to activate. If not, the memory reading could get you banned by the anti-cheat system of League of Legends.

First chapter of the description how to use it SAYS IT

"**Anti Cheat does not ban for programs used during spectate, but it does however run while in a live game.

[2021-10-05 19:58] VermilionRose commented on #80
I did just test it as a Spectator in a custom Tournament Draft lobby with a friend and 9 bots and it also didn't work unfortunately yet this could be just because the software perhaps doesn't work with bots. Anyways, the RCVolus Pick/Ban package DOES work when I myself am within the champ select as a player and not a spectator with as many bots as I want. As I noted above in my edit, the Ingame gr

[2021-10-05 21:00] FireFoXz09 commented on #80
It's because the League Broadcast is made to not run except if you are in a game / draft as a Spectator, to prevent the anti-cheat system of LoL to detect it and ban you (during the game, not during the pick/ban phase). The RCVolus Pick/Ban only affect the draft, but the LeagueBroadcast software won't activate (thus won't activate the RCVolus pick/ban package) except if you are a Spectator.

Tho I

[2021-10-07 12:56] floh22 commented on #80
Can you try opening the browser console window and see if events are received by the frontend? If it does receive events, can you expand and post an event received during active pickban/ingame?

That aside, and about the other topics brought up in this issue: There might be an issue with bots, though I thought I fixed that, I havent had the time to verify that recently. Try a lobby with a single p

[2021-10-09 14:23] overkido opened #82 "dragon timer, herald and baron [FEATURE]"
would be able to put the dragon, herald and baron timer in the layout?, to remove the client?

![image](https://user-images.githubusercontent.com/89580284/136661889-dad156cd-a279-4c45-9e51-b189d9c56e6f.png)

[2021-10-10 04:11] Nezumi2711 opened #83 "[BUG] Baron timer, elder timer, inhibitor timers is not showing"
**Describe the bug**
Baron timer, elder timer, inhibitor timers is not showing.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the League Broadcast.
2. Open LoL.
3. Go to spectator mode from list friend. (Not a custom game)
4. When connect in game, the League Broadcast still working, I turn on Scoreboard, Team Names, Item notifications,... is still show in http://localhost:9001/fronten

[2021-10-10 12:19] floh22 commented on #83
The timers are named badly, and are the power play timers. Do these not show?

Inhibitor timers only show when an inhib is taken, this can be changed in config files

[2021-10-11 01:14] Nezumi2711 commented on #83
I'm not sure about this. When I turn on all them, the UI is doesn't change anything. It's like a photo. But what is the power play timers? Can you explain it?
_(The inhibitor times I will try again.)_
![image](https://user-images.githubusercontent.com/73208452/136720225-2c7a7be7-ff99-43ad-b24b-0368657dfea9.png)

[2021-10-11 17:00] FireFoXz09 commented on #83
The Baron and Elder Dragon "Power play" is a common term used in LoL esports to show the time and gold diff while a team have the Baron or the Elder Drake buff. It appear in the top corners only if a team have slain the monster.

Here a very quick screenshot how it works for the current Worlds 2021 of LoL : You have the Gold Difference (aka the power play) and the time remaining on the buff.

![im

[2021-10-12 04:37] Nezumi2711 commented on #83
It's cool. Thanks a lot. I will try this. And I have one more question? How can I enable like this? _(I have draw a picture)_
![image](https://user-images.githubusercontent.com/73208452/136892157-a8236a52-f2aa-4ff8-8c6a-d77b3b2d69c6.png)

[2021-10-12 13:44] FireFoXz09 commented on #83
The Game Time + Dragon indicator for each team is already integrated in League Broadcast (and is also in the basic spectator HUD of the game). No need to do something. The dragons will appear when a team slay them.

[2021-10-12 14:15] Nezumi2711 commented on #83
Hmm... But I can't see them in League Broadcast. The inhibitor times is not show too (after inhibitor is taken) even though other feature is work correctly.  I have try again this recently.

[2021-10-12 22:29] nicogigena commented on #83
HAVING SAME ISSUE! Only configured Inhib's one, not Elder and Baron's yer, but it appears for a fraction of second and makes transition Out instantly. Don´t know why, sometimes work sometimes not :c

[2021-10-13 00:42] FireFoXz09 commented on #83
Inhibitor is known to be buggy right now.  Use the false option to always see the inhibitors timers if you want to use them for now in the config file.
![image](https://user-images.githubusercontent.com/89284738/137047698-2948dd45-c0a1-4aaf-8b3f-d3e2f9e0f438.png)

[2021-10-13 15:03] Nezumi2711 commented on #83
How about the Dragon indicator? There is anyway to resolve it? I have try many times but it nothing changed.

[2021-10-13 17:21] FireFoXz09 commented on #83
The Dragon indicator? There's no dragon indicator for now. Only the Elder Dragon "Power Play" (samething as the Baron Power Play) is available (a timer that appear to let you know how much time is left on the buff for the team who have slain the Elder Drake)

[2021-10-14 00:32] Nezumi2711 commented on #83
Oh, so there is only a bug baron timer and elder timer. They are not showing after each team taken. There is anyway to fix?

[2021-10-14 02:50] FireFoXz09 commented on #83
It shows yes the dragon taken on the scoreboard. They will appear here when a team slay them. Run the League Broadcast a few times in spectator games to check how this interact :)
![image](https://user-images.githubusercontent.com/89284738/137242404-bbe98b38-b5d9-4beb-b6bd-96c243f34bc9.png)

[2021-10-14 02:57] Nezumi2711 commented on #83
Oh, ok. I will try. So and how about this, I meant is Elder Dragon "Power Play" and Baron "Power Play"?

[2021-10-14 23:43] overkido commented on #83
in mine it works perfectly, but the background of both the elder and the baron is one.

![image](https://user-images.githubusercontent.com/89580284/137409929-91b0055d-f491-4241-97a0-067136864e0b.png)

[2021-10-15 01:35] Nezumi2711 commented on #83
Ok, I think I have enough the way to resolve my problem. I will close issue now. Thanks everyone for help me.

[2021-10-15 01:36] #83 closed, assigned to floh22

[2021-10-15 01:42] Nezumi2711 opened #84 "[BUG] A white box is appear in HUD ingame"
**Describe the bug**
A white box is appear in HUD in game and I don't know why.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the League Broadcast.
2. Open LoL.
3. Go to spectator mode from list friend. (Not a custom game)
4. When connect ingame, the HUD of League Broadcast is work but it is appear the white box. I have this bug yesterday and don't know why its appear. The previous da

[2021-10-15 14:49] gboero00 commented on #80
Hey everyone!
I'm having the same issue as well. LeagueBroadcast is running as administrator but the website is a blank page.
Here's a console screenshot: https://i.ibb.co/dfs7RFg/Screenshot-4.png

I tried it earlier this week and worked just one time, i believe it's casual. We organize tournaments so we can't use this overlay unless it works every single time.

Thanks!

[2021-10-16 03:53] Nezumi2711 commented on #84
Sorry, my bad. I have config gold graph wrong so I meet the error. I'm so sorry.

[2021-10-16 03:53] #84 closed, assigned to floh22

[2021-10-26 14:35] FireFoXz09 opened #85 "[BUG] Champion Select (RCVolus PickBan Tools) won't start"
**Describe the bug**
Sometimes, when the draft begin (pick/ban phase), the RCVolus Tool won't start. Happened to me like 3 times yesterday during a tournament.

**Issue**
I think it's related to the time it takes to start the lobby maybe? (sometimes waiting 15-20 minutes in the lobby before starting) Or because of the Riot API? (It's been buggy/glitchy since the last patch). To be clear, before th

[2021-10-26 15:16] floh22 commented on #85
I have also noticed inconsistencies with the LCU after the chromium update to the league client on some setups, though I have not been able to determine exactly what is causing the issue.

Even then, it does not explain your issue of it having worked flawlessly the patch prior, and only becoming an issue now, considering the chromium update happened a few patches ago. I may need to look at the LCU

[2021-10-26 17:39] FireFoXz09 commented on #85
Yeah it's strange. I reopened my client today and restarted League Broadcast, started a custom game and the Pick/Ban started as expected. I closed the League Broadcast program and restarted it to try something and no pick-ban in a brand new custom game. Seems to be "random" but there is certainly something off somewhere. (League Broadcast does detect the LoL client since I see the "Client Connecte

[2021-10-26 18:09] shinilee commented on #85
I'm pretty sure I had this bug too I also had just client bug if I stay in the custom lobby long time and when the game start I can't connect into the game and if someone invite me into the custom game and sometime I get ingame error so I just create the room when players are ready

[2021-11-02 12:51] FireFoXz09 commented on #85
Yesterday samething, the Pick/Ban do not start if I've been for too long in the lobby (more than 3-5 minutes it seems). But it worked when I joined it right before they started the draft. Since it's a tournament code and the teams want to get in the lobby before doing the prodraft or other setup, I can't create the lobby myself to invite them at the last minute so I need them to invite me right be

[2021-11-04 15:02] shinilee commented on #85
I just test now the pickban ui doesn't work and when i leave the pickban client the program close itself

[2021-11-13 16:02] shinilee commented on #85
I test today just now and the pick/ban doesn't work at all it only work when I make a custom game and start the game just myself in it no player, no bot then it work but it doesn't work with bot and doesn't work with player in it when I test and I just test with 10 players as I'm spectator doesn't work

[2021-11-13 16:36] shinilee opened #86 "[BUG] Viego transform triggers item buy"
everytime viego transform to enemy champion the item appear. not big of issue tho... the big issue is the ban pick doesn't work :(

[2021-11-16 15:13] FireFoXz09 commented on #86
For Viego, it's been like this since I can remember (since the game reads it as having new items in the inventory.) Just strange at first but not sure you can correct this easily...

The pick/ban bugs for me as well. I need to "delete" all the pickban folder in the frontend section and recreate it (copy it elsewhere -> delete it from the frontend folder -> replace it) to make it work. Also, don't

[2021-11-17 15:11] shinilee commented on #86
tried to delete the folder and copy and paste it but it doesn't work for me

[2021-11-19 04:51] fsqBr opened #87 "[BUG] Change the logo on Pick Ban"
Hi,
I tried to change de logo who stay on bottom of the screen , changed the the image on path Frontend\pickban\static\media\scuffed.2fe400e4.png, but without a sucess, there is orther way to do this?

[2021-11-19 15:52] floh22 commented on #87
This is the correct way, but you need to restart the program for this to take effect

[2021-11-19 15:53] floh22 commented on #86
Viego is indeed a bug.

Please keep issues separate so they are easier to track

[2021-11-19 15:54] floh22 commented on #85
I cannot reproduce this issue, it seems to be an issue of the league client itself. Have you tried a different PC or restarting? I cannot reproduce this issue on 3 separate PCs after both restarts and reinstalls, so im having a hard time tracking the source

[2021-11-19 17:23] shinilee commented on #85
if you can't reproduce this issue with 3 separate PCs and I tried with 2 different pcs and I ask others to tried with they are pcs and it only gives the issue I think it's from the custom build from me I will try to download fresh and will test it and let you know

[2021-11-19 17:32] shinilee commented on #85
I just download fresh and didn't change anything and it doesn't work for me. I tested 3

1. create custom game myself and start the game and it work.
2. create custom game and add 9 bots and start the game and it doesn't work
3. invite 10 people and start the game and it doesn't work

[2021-11-20 19:40] overkido opened #88 "[FEATURE]"
will the update of drags and new items take time?

![image](https://user-images.githubusercontent.com/89580284/142738947-b4015be7-8a18-4046-b418-6d3036c9ec1f.png)
![image](https://user-images.githubusercontent.com/89580284/142738971-959dde51-71f3-4da1-819d-aae10db30c6d.png)

[2021-11-21 12:32] OrionCodeDev commented on #88
+1

[2021-11-22 04:02] FireFoXz09 commented on #88
The new items "seems" to already work with the actual system (since it get's the info directly from the game I guess). I've not tested it with ALL of them but the few I saw worked like the actual items.

For the 2 new dragons tho, yes it would be a nice update to add ASAP.

[2021-11-22 13:26] floh22 commented on #88
Fixed in [latest release](https://github.com/floh22/LeagueBroadcast/releases/tag/v1.4.106)

[2021-11-22 13:26] #88 closed, assigned to floh22

[2021-11-22 13:28] floh22 commented on #88
Side note, I made the icons for the two new dragons myself. They are probably not perfect, but client files did not include icons in the same style/resolution as the old ones. If anyone has better options, feel free to create a Pull request

[2021-11-22 13:29] #87 closed, assigned to floh22

[2021-11-22 19:06] FireFoXz09 opened #89 "[BUG] No ScoreBoardPopUps for the new Hextech/Chemtech dragons"
Missing folders for the scoreboardPopUps when the new dragon type spawns or gets killed. I dunno if it is created or programmed in the code yet (I haven't seen it in the config/Ingame.json). It did nothing on my side when i tested it a few minutes ago.

Folder :
LeagueBroadcast-1.4.106\Frontend\ingame\images\scoreboardPopUps

Missing the Hextech type and the Chemtech type.

[2021-11-22 20:51] floh22 commented on #89
Until I have time to fix it, add the corresponding folders and files to the overlay files.
This means you have to add the folders `Hextech` and `Chemtech` to `Frontend/ingame/images/scoreboardPopUps/Dragon` and then add the corresponding files as well.

Edit: Fixed folder location

[2021-11-22 21:45] FireFoXz09 commented on #89
If I just need to add the folders and pictures/video like for the same dragons, I can do that ;) I'll try it and let you know if this works!

[2021-11-22 21:46] shinilee commented on #89
I just did but it only work for kill spwan doesn't work for me for the new dragons old dragon still popup for spawn but new dragon doesn't work but it work for kill popup for the new dragon

for popup I use video for kill I use image

FireFoXz09 let me know if your test

[2021-11-22 23:09] FireFoXz09 commented on #89
The popups works for the kills of the new dragons (I dunno for the spawn since I never use them, I'll try later this week), but the icon in the scoreboard the the chemtech or hextech dragons won't load. (it puts the blacksquare with a green bar like if they can't find the picture)

![Screenshot 2021-11-22 18-32-29](https://user-images.githubusercontent.com/89284738/142950447-35639162-5941-4d61-be8

[2021-11-23 00:51] shinilee commented on #89
mine working fine for score display dragon it just spwan not working for me

[2021-11-23 11:48] floh22 commented on #89
Try deleting the Frontend folder and then replacing it again, it might be possible that the update failed to overwrite the old files it needed to.
Make sure `Frontend/ingame/images/dragons` contains both `chemtechLarge.png` and `hextechLarge.png`

As for the popups, the folder location i wrote was missing the last component, make sure to add the new folders inside the `Dragon` folder

[2021-11-23 14:28] shinilee commented on #89
![image](https://user-images.githubusercontent.com/82671596/143042565-f2e933c5-e562-4fb3-9b56-e8aa9fbb2a41.png)

this is my setup but you saying I have make another dragon fonder and put Chemtech, Hextech in to that folder?

[2021-11-23 14:29] overkido commented on #89
How do you add an image to the background of the inhibitors, in my one, it bugs and the image does not appear in the background?

![image](https://user-images.githubusercontent.com/89580284/143042417-9007f19c-53b5-42ae-b8aa-6bffc7eb6131.png)

How do I put the drag folders and images when it is killed?

![image](https://user-images.githubusercontent.com/89580284/143042474-f416cf74-a491-49f6-be55-c7

[2021-11-23 14:38] shinilee commented on #89
I just tried to add another dragon folder in the dragon folder and it didn't work and now kill popup doesn't even working

![image](https://user-images.githubusercontent.com/82671596/143044342-37cad356-c532-4061-bac5-6f9275844dcd.png)

[2021-11-23 14:40] overkido commented on #89
taking advantage, would it be possible to remove the client's timer to add to the program's hub?, like in the world and msi, that the herald drags and fine baron timers in the program's hub?

![image](https://user-images.githubusercontent.com/89580284/143044476-6902b237-923c-472b-b795-194d75757b2f.png)

[2021-11-23 14:42] overkido commented on #89
even to be able to customize it would be better for the people who make the championships.

the showlogo of drags and baron doesn't work either, i've activated it, but when drag or baron kills it doesn't show the logo of the team that made it.

[2021-11-23 14:44] overkido commented on #89
does anyone know where i change the video file format from mp4 to mov? I've looked for it, I haven't found it.

[2021-11-23 14:57] shinilee commented on #89
![image](https://user-images.githubusercontent.com/82671596/143047753-c70272dd-d580-4297-8504-46ed10f386e7.png)

the new dragon popup working after 2nd one 1st dragon doesn't popup for the newdragon

1. Firedragon popup work
2. Mountain dragon popup work
3. chemtech dragon popup not work
4. chemtech dragon popup work
5. chemtech dragon popup work

I think it's bug

[2021-11-23 15:09] floh22 commented on #89
This is correct. I will add missing files at some point in the future when I have access to my workstation again.

[2021-11-23 15:10] floh22 commented on #89
As for the rest of this issue, this is not a support thread. If you have an issue, please open a separate issue for the topic and make sure your issue is not a duplicate of an existing one.

Custom timers are not supported as of this moment and only .mp4 files are supported. If you have .movs, convert them.

[2021-11-23 15:16] shinilee commented on #89
I just test run again and it's working now the new dragon popup working without any problem I think it's just glitch

https://youtu.be/1B8o-DXFJsU

[2021-11-23 15:37] shinilee opened #90 "[Question] how to remove or blank the stoke circle?"
https://youtu.be/1B8o-DXFJsU

![image](https://user-images.githubusercontent.com/82671596/143054708-3e2d596a-2271-4e0e-be3c-47601f6d5673.png)

for the score I want to make blank or remove the stroke circle is there any way to do it?

[2021-11-23 16:01] overkido commented on #90
vc quer remover o circulo preto? ou deixa branco?

[2021-11-23 16:11] shinilee commented on #90
the stroke. it's the black stroke circle

[2021-11-23 16:17] overkido commented on #90
você me arranja esse vídeos dos drags e baron que vc usa sem as informações que tem? só o video?

[2021-11-23 16:22] shinilee commented on #90
https://drive.google.com/file/d/1U971VvPr_cvHOYuQUkDVNy0GCXrU30aA/view?usp=sharing

[2021-11-23 16:36] overkido commented on #90
você sabe me dizer se tem como desativar o scores do layout pra colocar numeração de, vitorias/derrotas? em vez de ser o scores circle?

[2021-11-23 20:55] FireFoXz09 commented on #89
The inhibitor countdown don't have a background image cause I had the same issue, it bugged. I just made this in my in-game overlay and put the inhibitor timer above it.

[2021-11-23 20:59] shinilee opened #91 "[DrakeSoulPoint] what is this mean?"
I though soul point will popup on after 2nd drake killed but it appear at when blue and red team have 3 drake each
like when red team got 3 drake and blue team got 2 drake and when blue team killed another drake then the soulpoint popup is this normal?

[2021-11-23 23:34] overkido commented on #91
não precisa ambos os times ter drakes, ex: time azul tem 2 drakes feitos e fez o 3º dragão o time azul entra em soulpoint pq falta 1 drag para fechar a alma.

[2021-11-23 23:36] overkido commented on #90
obs: você pode deixa o traçado do circulo branco junto com o circulo fechado após a vitória.
como nesse meu aqui.
![image](https://user-images.githubusercontent.com/89580284/143145591-5e35a760-ee3f-45e0-85ca-61bef0968c5f.png)

[2021-11-23 23:40] overkido commented on #89
no caso vc fez uma arte base e jogo o link por cima sem o alfa do inibidor e sem imagem ?

[2021-11-23 23:41] overkido commented on #89
Eu tentei colocar o redside do outro lado do mapa, encima do mini-mapa mas não consegui, ai deixei assim tbm, queria por redside no outro lado e assim ter mais espaço pra personalizar mas não funcionou.

[2021-11-24 01:36] Nezumi2711 opened #92 "[BUG] The icon of the dragon does not work"
The icon of dragon on the scoreboard is not show after the team slay them. How can I fix it? I have restart many time the LeagueBroadcast when in spectator but still not work.

LeagueBroadcast v1.4.106

[2021-11-24 13:18] FireFoXz09 commented on #91
The LeagueBroadcast was build to announce that the next dragon is a "possible" dragon soul, not an actual "dragon soul acquired" pop-up. If I understood you correctly...

[2021-11-24 13:19] FireFoXz09 commented on #92
There's already a topic about this issue : https://github.com/floh22/LeagueBroadcast/issues/89

[2021-11-24 13:56] Nezumi2711 commented on #92
No, I meant the icon of dragon like this:
![image](https://user-images.githubusercontent.com/73208452/143251664-a6f3907b-9db6-4f81-b765-a9f638644447.png)

[2021-11-24 14:10] shinilee commented on #91
but I don't understand why it only popup at 6th dragon? like when blue team slay 3rd dragon it didn't popup but when blue team have 3 dragon and red team slay 3rd dragon it popup

[2021-11-24 14:54] FireFoXz09 commented on #92
All the dragons icons won't show? Or only the new dragons (hextech/chemtech) ? Does it show a black square like on the picture?
![image](https://user-images.githubusercontent.com/89284738/143260639-adf082b6-1cfb-485c-8040-c0f0b16f9b98.png)

If you restart the LeagueBroadcast WHILE you spectate a game, the dragons won,t show until the program "see" a team kill a dragon (if you join a game where the

[2021-11-24 14:56] FireFoXz09 commented on #91
I dunno, this is strange. Maybe a bug with the new dragons type? I don't use the Soul Point system since it does not bring the information I want to share while I cast (I just say it out loud) so I don't really know what is happenning.

[2021-11-24 19:49] overkido opened #93 "add feature please [FEATURE]"
would it be possible to add the gold advantage of the team that is behind in the match?

![image](https://user-images.githubusercontent.com/89580284/143304177-926c4c9b-5c33-4c9b-b3ee-a78ad40bbaa6.png)

[2021-11-24 20:34] FireFoXz09 commented on #93
Ohhh the new bounty feature. Interesting...

[2021-11-24 21:04] overkido commented on #93
exatamente!

[2021-11-25 00:47] Nezumi2711 commented on #92
All the dragon icons won't show.
I have try reinstall and use another device to test it but it still not work. I have open the LeagueBroadcast during the team slay Dragon. Maybe I have not edited somewhere in config file?

[2021-11-25 13:18] FireFoXz09 commented on #85
Yeah I dunno why samething for me. Sometimes it works, sometimes it won't start. Just really strange...

Ill run the original RCVolus PickBan on the side at the same time to see if it works all the time too and let you know.

[2021-11-25 14:27] floh22 commented on #85
Since I cannot currently seem to replicate this issue, the most useful thing for me is if someone with general coding knowledge opens the project in Visual Studio and runs the program in Debug mode through Visual Studio. Then my debugging approach would be as follows:

1. Check if the entered champ select message appears in logs, make sure logging is set to verbose. If it does not, add breakpoint

[2021-11-25 15:54] FireFoXz09 commented on #92
Strange. Try running it as an admin. LeagueBroadcast bugged for me monday but yesterday all my "bugs" went away and the program was working totally fine. Maybe a glitch or something... I'll check this out tonight on my side.

[2021-11-25 18:23] FireFoXz09 commented on #85
They updated the requied Node.js version for running the program. Can this be the solution? (I'm gonna give it a try this weekend)

Updated november 24 on the RCVolus PickBan Tools page:

[2021-11-26 04:37] Nezumi2711 commented on #92
I always run program as an admin, it will crashed if I don't run. I hope you can help me. Thanks!

[2021-11-27 13:46] Nezumi2711 commented on #92
Can you share your config file ingame so i can refer?

[2021-11-29 23:12] FireFoXz09 commented on #89
I solved the problem for the dragon icon in the score on the top of the overlay. I did a bad copy-paste of the CONFIF files from my old setup to the new version. Everything works as planned!  :)

[2021-11-30 03:04] VermilionRose commented on #80
I just realized that I need this issue to close. The pick-ban does work when I'm a spectator.

[2021-11-30 03:58] VermilionRose opened #94 "[BUG] Crash on gold graph display and/or item complete"
**Describe the bug**
Running ingame graphic through LeagueBroadcast.
Displaying timer, kills, towers, gold, and dragons correctly in a custom InGame.config file.
Made to display gold graph (not the gold tab). Shows for a few seconds and then the entire program crashed.
This did coincide with a completed item from one of the players triggering the relevant graphic according to the log file so I'm n

[2021-11-30 11:11] #80 closed, assigned to floh22

[2021-11-30 14:47] FireFoXz09 commented on #94
Had the same problem / crash yesterday! Gold graph + an item appearing = crash. Maybe it's unrelated but it's the same condition...

At 2:19:20 in the video
https://www.twitch.tv/videos/1220093983

[2021-12-05 03:42] LeBraveLittleToaster opened #95 "[FEATURE] Build not working, /frontend missing"
**Describe the bug**
When compiling your project everything works as expected, but if you access overlay from the browser, he reports a 404 /frontend not found. From my observation, the frontend folder is not copied to the compiled folder. If you manually copy the files from the release, you get a 401 Unauthorized.

**To Reproduce**
Steps to reproduce the behavior:
See text in description

**Expec

[2021-12-05 09:31] kaminari1898 opened #96 "the new drakes are shown on the scoreboard but when they spawn or get killed they don't show like the other drakes"
title  + ( im not good at coding that's why i'm asking if you kindly can add them ) thank you

[2021-12-06 14:12] shinilee commented on #96
#89 check this post

[2021-12-06 17:48] kaminari1898 commented on #96
ok thank you i will try

[2021-12-06 18:36] kaminari1898 commented on #96
thank you for the help it worked  :)

[2021-12-06 18:36] #96 closed, assigned to floh22

[2021-12-07 10:49] hldup opened #97 "How do I even run this?"
Got no idea, my school is having a league tournament between classes, I'm trying to make the most out of it

[2021-12-07 14:00] FireFoXz09 commented on #97
All the instructions are in the README.md file (or on the main page of this program)

You don't need the LeagueBroadcast tool to "run" the tournament. This is only a software to help you make your streaming looking more like the professionnal league production (like the LCS/LCK/LEC/etc.). You need to have a basic understanding of streaming, OBS Studio (or any other streaming software you like) and

[2021-12-07 14:28] FireFoXz09 commented on #95
Do you use thoses browser links to see the overlays?

This one http://localhost:9001/frontend?backend=localhost as a browser source in OBS in your ingame scene
and http://localhost:9001/?backend=ws://localhost:9001/api as a browser source in OBS in your PickBan scene

[2021-12-07 15:54] floh22 commented on #95
For clarity sake:

A build script is included, will build and bundle everything after Publishing.
To do so, both a `Publish` and `Releases` folder must be present in the Root folder.

Currently the ingame frontend is rather outdated, and the user must explicitly use parcel@1.12.3, as parcel@2.x.x introduces breaking changes that I have not yet made. Though of course this can be updated with a bit

[2021-12-07 15:55] #97 closed, assigned to nobody

[2021-12-07 15:55] #74 closed, assigned to floh22

[2021-12-07 15:56] #79 closed, assigned to nobody

[2021-12-07 15:59] floh22 commented on #94
This happened while the game was running? The Crash log would indicate that this should happen at the beginning of the game, and even then, only when Riot servers send an invalid response or no response at all

[2021-12-07 22:07] hldup commented on #97
Sorry, I was just retarded. Downloaded the sourcecode for some reason. Tho now i just get 404. It says its connected, and is displaying players name. Any ideas?

[2021-12-08 19:12] Russeus opened #98 "[BUG] Race condition when updating offsets before the first game"
**Describe the bug**
LeagueBroadcast can't read all champion data from memory. It happens with any Spectate game.

**How To Reproduce**
Steps to reproduce the behavior:
1. Spectate a game.
2. Open LeagueBroadcast.
3. Get error (see image).

**Expected behavior**
LeagueBroadcast read champion data and shows Gold per Minute and other data without problems.

**Material**
![error](https://user-images.

[2021-12-09 09:57] OrionCodeDev commented on #98
Hey, you must wait until @floh22 will update offsets. Regards

[2021-12-09 10:24] floh22 commented on #98
<del>Offsets for 11.24.1 are in the repo, they should be updated. <del>

<del>Is anyone else having issues?<del>

[2021-12-09 14:25] floh22 commented on #98
Looking at the logs again this might have been an unlucky case of github being slow/ slow download. Either way, good to know that a race condition exists when updating offsets and starting the first game after a patch or new installation

[2021-12-10 09:57] Khhd1 opened #99 "I edited component. json as instructed, but it doesn't look right"
![1](https://user-images.githubusercontent.com/82941693/145555027-bfff1139-536f-44ae-9af1-8e3cf30bce30.jpg)
![2](https://user-images.githubusercontent.com/82941693/145555036-16628d3c-7f74-4623-8386-e1703e3f2664.jpg)
![3](https://user-images.githubusercontent.com/82941693/145555038-6b668d1c-56f8-44aa-84e5-574c2a470a38.jpg)

[2021-12-10 10:45] Khhd1 commented on #99
![image](https://user-images.githubusercontent.com/82941693/145561532-1078bc14-4f4a-4982-a1e3-949607832eae.png)
![image](https://user-images.githubusercontent.com/82941693/145561676-aa49daa0-4fc2-45c1-bcec-e252e9213d6c.png)
The above problem was solved, but... This issue has cropped up again and I have updated Farsight

[2021-12-10 10:46] Khhd1 commented on #99
![image](https://user-images.githubusercontent.com/82941693/145561809-6ff3b9ae-69de-4446-b802-34f4a4d8f6a9.png)

[2021-12-10 10:46] Khhd1 commented on #99
[Log-2021-12-10-18-29.log](https://github.com/floh22/LeagueBroadcast/files/7692123/Log-2021-12-10-18-29.log)

[2021-12-11 09:51] socktow commented on #99
try :
F:\LOL\Riot Games\League of Legends
![image](https://user-images.githubusercontent.com/14296959/145672212-3233c9e0-1cf8-4927-95cf-fbe7559e95ef.png)

[2021-12-11 10:16] JIANYU77I commented on #99
Yes, I'm done with the game path problem

[2021-12-11 10:17] Khhd1 commented on #99
Yes, I'm done with the game path problem.

[2021-12-11 10:21] JIANYU77I commented on #99
:)But my current question is:could not read all champion data form memory

[2021-12-11 10:22] Khhd1 commented on #99
:)But my current question :could not read all champion data form memory

[2021-12-11 12:52] OrionCodeDev commented on #98
Clear installation, still same error with LiveEvents and EnableReplay in config :/ what;s the problem
[Log-2021-12-11-13-59.log](https://github.com/floh22/LeagueBroadcast/files/7697045/Log-2021-12-11-13-59.log)
?

[2021-12-12 13:09] socktow commented on #99
ya because now patch is 11.24.4 not 11.24.1
maybe it will be fixed in 11.25 , i think so
![image](https://user-images.githubusercontent.com/14296959/145713622-bbb64543-4ee6-4db8-9a00-504e38243f17.png)

[2021-12-14 19:20] overkido commented on #99
nada de resolver o bug?

[2021-12-14 21:13] OrionCodeDev commented on #99
Resolved by new Offsets:

"Manager": "0x186CD64",
[code]

[2021-12-15 03:08] Khhd1 opened #100 "How can I add my own font？"
I want to use my own font in some places

[2021-12-15 14:26] shinilee commented on #100
1. lol-pick-ban-ui-master\lol-pick-ban-ui-master\layouts\layout-volu-europe\src\assets\fonts
put your desire font in that folder

2. lol-pick-ban-ui-master\lol-pick-ban-ui-master\layouts\layout-volu-europe\src\europe\style
open the font.less and edit src: url("../../assets/fonts/amarurgt.ttf"); amarurgt.ttf the font name to your desire font name

3. open the index.less change the .Patch Font-Size

[2021-12-15 19:13] Khhd1 commented on #99
Oh! Thank you. I successfully solved the problem!

[2021-12-15 19:14] Khhd1 commented on #100
Oh! Thank you. I successfully solved the problem!

[2021-12-17 19:17] UnifiedHyper opened #101 "[BUG] Text positioning and Gold not reading"
**Describe the bug**
I've encountered two errors. The first is that the program is not reading/tracking gold no matter what's happening.
The second is that the kills text is not properly positioning/aligning, and the red and blue kills are even aligning differently with identically opposite positions and alignment.

[Log-2021-12-17-13-07.log](https://github.com/floh22/LeagueBroadcast/files/7737311

[2021-12-18 15:19] shinilee commented on #100
I'm sorry I though I was in  lol-pick-ban-ui

I believe you can't use your own font for leaguebriadcast program yet you only can use google font I think

you can change in

![image](https://user-images.githubusercontent.com/82671596/146646176-bb0d2159-014f-4c1e-a9e7-bc6dfefd8b00.png)

ingame.json file

[2021-12-18 15:22] Khhd1 commented on #100
Oh, thank you, buddy. I changed the font.

[2021-12-18 15:26] shinilee commented on #101
gold not reading is the offsets problem simple fix but I have no idea how to find current offsets....

[2021-12-18 20:34] floh22 commented on #101
Text positions are going to be a bit wonky since the entire project lacks polish atm. For now, update the value, save the file, and use trial and error to fix the position.

As for the Gold not reading, delete Farsight.json and restart the program. Riot changed internal structures and I did not notice, leading to me publishing incorrect offsets.

[2021-12-18 20:34] #101 closed, assigned to floh22

[2021-12-18 20:35] floh22 commented on #99
For others facing a similar issue before Season 12 begins: Delete Farsight.json and restart the program. Riot changed internal structures and I did not notice, leading to me publishing incorrect offsets.

[2021-12-18 20:35] #99 closed, assigned to floh22

[2021-12-18 20:36] floh22 commented on #98
Looks like it wasnt a race condition, but just incorrect offsets. Closing after updated offset was published

[2021-12-18 20:36] #98 closed, assigned to floh22

[2021-12-18 20:37] #100 closed, assigned to floh22

[2021-12-18 20:38] #95 closed, assigned to floh22

[2021-12-18 20:40] floh22 commented on #91
The soul point pop up is to announce that the next dragon is a possible soul for the team with 3 dragons. This was a feature request quite some time ago, and implemented rather poorly. Future changes will improve clarity on this.

[2021-12-18 20:40] #91 closed, assigned to nobody

[2021-12-18 21:07] floh22 commented on #90
Currently you cannot change the border of the circle. If you wish to adjust the source yourself, https://github.com/floh22/LeagueBroadcast/blob/v2/Overlays/ingame/src/visual/ScoreboardVisual.ts Line 891, 895, 919, 923

[2021-12-18 21:26] shinilee commented on #101
I have question for the future if this happen again do I need to wait until you fix the value? or I can just delete the Farsight.json and restart the program it will fix?

[2021-12-19 09:26] CarryLive2021 commented on #35
Trying to add this feature too.
I found there have been a boolean "ShowTeamIcon" parameter in ObjectiveKill class.
I am trying to add a function to pass the team killed object to the frontend and trigger a team pic popup, but I am a beginner and so bad at tracing code to find out where I  should  rewrite T^T.
I will be appreciate if there is any suggestions/hints to let me know how to complete thi

[2021-12-19 16:38] Megge-k opened #102 "[BUG] Gold not counting, with a memory issue posted"
No crash log as cs/min still works, kills still count + drakes. But counting gold at the top part of the scoreboard is not adding up past 2,5k vs 2,5k. Gold graph and gold per player is not working. Nor those item popup.

Included the log.

[Log-2021-12-19-16-02.txt](https://github.com/floh22/LeagueBroadcast/files/7741165/Log-2021-12-19-16-02.txt)

[2021-12-21 18:12] UnifiedHyper commented on #101
So for the text, it will actually sometimes CHANGE after restarting the program. Like it will move from where I set it for some reason. Is there a way to address this?

[2021-12-21 20:20] shinilee commented on #102
yup not working for me too

[2021-12-22 15:25] floh22 commented on #102
Try to delete Farsight.json and have it redownload. I just checked the memory values again, and they work for me EUW. AFAIK all Riot regions are on the same patch currently, so they should be the same for you. Make sure Farsight.json has `"Manager": "0x186CD64"`

[2021-12-22 16:04] ghost commented on #92
I have solve my problem by follow this comment.
https://github.com/floh22/LeagueBroadcast/issues/8#issuecomment-839817187

I will close topic, thanks for help!

[2021-12-22 16:09] #92 closed, assigned to floh22

[2021-12-22 16:47] shinilee commented on #102
just tried it and it work thank you~

[2021-12-26 19:58] xTuCo opened #103 "[BUG] Custom backgrounds and images doesn't show up"
**Describe the bug**
For example, I replace the "Score.png" file for my custom score background and it doesn't change anything. It continues showing the original one... Why is that happening? Could you help me? Thank you!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Frontend/ingame/backgrounds'
2. Replace 'Score.png' with my custom file (named the same).
3. Start League Broadcast
4

[2021-12-27 14:12] shinilee commented on #103
this is known issue I fixed this issue by everytime I change the img in the folder I restart the leaguebroadcast and reset the source from obs studio

[2021-12-27 15:27] Danglo23 opened #104 "Can't make it work"
I may be a complete idiot but I can't make it work. I really don't understand what I need to do. I get to open the app and set up what I want. But then nothing happens. I've added the links to OBS too, any help? Maybe a "for dummies" step by step?
Much appreciated

[2021-12-29 14:27] 21Broo opened #105 "The content is not saved"
As the developer said, I changed and saved the file as I wanted in config/ingame.json. After that, I restarted LeagueBroadcast, but the saved content is initialized. Is there a possibility that modification using Notepad++ is a problem? If not, what's the problem?
++
I think I solved the problem of saving. However, there was a problem with crash when LeagueBroadcast was executed. After several exp

[2021-12-29 16:16] #105 closed, assigned to nobody

[2021-12-29 18:20] xTuCo opened #106 "[QUESTION] How to change the POSITION of the scoreboard popup events?"
Hi all,

Someone could help me about **changing the position of the scoreboard popup** when you kill an objective or it spawns (drake, baron, herald)?

I don't see any line related to this in the **Config.json** file...

Some help?

Thanks!

[2021-12-30 02:06] FireFoXz09 commented on #106
It's mostly a mask over the full animation at the bottom of the screen. I've not tried to move it like at the top of the screen or something like it tho. Modify the mask (png image) to change how small or big it will appear. (I dunno if this helps)

[2021-12-31 09:00] xTuCo commented on #106
I meant how to move the whole animation, not only the mask where the objective icon appears. Do you know how I could to that? Thanks for your answers!

[2021-12-31 15:58] 21Broo opened #107 "How put the KillsIcon?"
I want to put an icon next to the kill score of both teams. And I found a phrase related to Kills Icon in the 'ingame.json' file. I wonder how to name the file so that it works.

[2022-01-02 18:24] FireFoXz09 commented on #106
No sorry I don't know how to move it. We mostly keep it on the bottom part of the screen since it won't hinder any view of the game this way (and most pro league do the same).

[2022-01-04 08:55] leanbinh commented on #84
hey, how can i use it in vietnam server i cant connect to leagueclient,
hope you will reply soon, thanks

[2022-01-04 10:23] Nezumi2711 commented on #84
Bạn chỉ cần chạy với quyền admin là được nha.

[2022-01-04 11:13] leanbinh commented on #84
![image](https://user-images.githubusercontent.com/67872108/148050777-f6dc6ce8-6a2b-4be0-b301-2c0fad8c38e8.png)
nó bị kiểu này b ơi @@ mình đọc cái usage k hiểu cho lắm

[2022-01-04 11:13] leanbinh commented on #84
![image](https://user-images.githubusercontent.com/67872108/148050777-f6dc6ce8-6a2b-4be0-b301-2c0fad8c38e8.png)
nó bị kiểu này b ơi @@ mình đọc cái usage k hiểu cho lắm

Hiện tại sv việt k cần phải run admin để connect tới lcu nữa rồi

[2022-01-04 11:36] Nezumi2711 commented on #84
À, bạn cứ cancel là dùng bình thường nha. Khi vô chương trình ở góc phải bên trên có chữ client connect là được. Còn việc chạy quyền admin thì bên mình nếu k chạy sẽ bị crash, bên bạn thì k biết sao. :v

[2022-01-04 11:39] leanbinh commented on #84
hiện tại mình dùng được phần ingame rùi còn phần banpick mình test thử thì k thấy hoạt động, b có dùng được phần đó không ?

[2022-01-04 11:46] Nezumi2711 commented on #84
Mình dùng bình thường nha, bạn thử refresh cache ở phần mềm stream xem sao, hoặc bạn test trên trình duyệt thử (load lại trang nếu chưa thấy gì).

[2022-01-04 11:58] leanbinh commented on #84
![image](https://user-images.githubusercontent.com/67872108/148055679-899bb763-996c-4265-a530-724a98326560.png)
mình đã thử refresh rất nhiều lần nhưng màn hình vẫn trắng tinh tươm, không biết là do cái gì nữa :((

[2022-01-04 12:00] Nezumi2711 commented on #84
Bạn add bot vô là nó k đọc được nha bạn, nếu bạn muốn test thì tạo trận đấu giải, 1 mình bạn trong room đó cũng được và test thử.

[2022-01-04 12:04] leanbinh commented on #84
![image](https://user-images.githubusercontent.com/67872108/148056402-9a534239-39a7-49aa-89a3-8349074a7838.png)
mình cũng đã thử hết nhưng kết quả trả lại bằng 0 chắc mình sẽ thử lại bên cái máy thứ 2 xem có bị như thế nữa không

[2022-01-04 12:15] leanbinh commented on #84
khi sang máy thứ 2 thì mọi thứ lại hoạt động bình thường, có vẻ máy chính của mình đang gặp chút trục trặc gì đó, cảm ơn bạn đã giúp đỡ mình nhiều

[2022-01-04 12:16] Nezumi2711 commented on #84
Ok bạn.

[2022-01-05 14:35] #107 closed, assigned to nobody

[2022-01-05 16:51] shinilee opened #108 "[New Update] V12.1 Need the Update for the Program"
League of Legends just got new update to v12.1
Leaguebroadcast program need update I think it's the Farsight.json thing

[2022-01-07 19:11] #108 closed, assigned to nobody

[2022-01-07 19:16] shinilee opened #109 "[BUG]Respawn Pop up Not Working"
Respawn pop up not working dragons, herald, baron only kills pop up working

[2022-01-08 22:13] cruxm4n opened #110 "[HELP] Tournament realm access"
I would like to use the tool on the tournament realm

To see with RIOT to activate what are the technos used to try to see to activate it on the tournament realm?
(Memory reading + ??)

[2022-01-14 12:12] Nezumi2711 opened #111 "[FEATURE] Add time respawn dragon, baron on the overlay"
Can you add the time respawn for dragon and baron so I can customize the layout like this? Thanks for read.
![image](https://user-images.githubusercontent.com/73208452/149513565-35d320c5-ba59-4ff4-9415-3223700c1e81.png)

[2022-01-14 14:35] floh22 commented on #111
Duplicate of #82

[2022-01-14 14:35] #111 closed, assigned to floh22

[2022-01-15 14:46] 21Broo commented on #90
혹시 해결하셨나요? 저같은 경우는 코드 수정해서 공 모양 대신 숫자로 표시되도록 바꿨습니다

[2022-01-15 22:16] shinilee commented on #90
아니요 제작자가 바꿀수없다고하네요 ㅠㅠ 코드 어떻게 수정해서 공 모양대신 숫자로 표시를 하셨나요?

[2022-01-16 11:04] 21Broo commented on #90
우선 위에 floh22님이 바꿀 수 없다고 말하신것 같은데 바꿀 수 있습니다
https://github.com/floh22/LeagueBroadcast/archive/refs/heads/v2.zip
이거 다운 받으시고 압축 푸신다음
https://github.com/floh22/LeagueBroadcast/tree/v2/Overlays/ingame
이 주소로 들어가시면 readme 파일에 브로드캐스트 내부 파일을 수정해서 실행할 수 있는 방법이 나와 있습니다 우선 이 방법대로 세팅을 하셔야 합니다
그 다음에 아까 압축 푼 폴더에서
Overlays/ingame/src/visual/ScoreboardVisual.ts 파일을 수정하셔야 합니다

사실 저도 타입스크립트를 다룰줄 몰라서 계속 찾아 보다가 야매로 수정

[2022-01-17 14:02] shinilee commented on #90
오우 정말 감사합니다. 네 져 코드에 대해서 아무것도 몰라서 멘땅에 헤딩으로 이것저것 바꿔서 하고있습니다. 적어주신 코드로 잘 사용해보겠습니다. 감사합니다.

[2022-01-18 22:55] LaggySon opened #112 "[HELP] Could not parse game config. Replay API may not be enabled!"
**Describe the bug**
Broadcast tool does not show pickbans on the specified URL (http://localhost:9001/?backend=ws://localhost:9001/api) or the ingame HUD (http://localhost:9001/frontend?backend=localhost). When I read the logs I found one warning: [WARNING] Could not parse game config. Replay API may not be enabled!

**To Reproduce**
Steps to reproduce the behavior:
1. Run LeagueBroadcast.exe (bo

[2022-01-18 23:18] LaggySon commented on #112
I also tried this on my laptop which is running Windows 10 21h1 and had the same issue.

[2022-01-18 23:23] LaggySon commented on #112
Ok I just solved the issue. Make sure you install the .NET framework for both console and desktop apps. The app will only give you a warning for one of them.

[2022-01-18 23:23] #112 closed, assigned to floh22

[2022-01-20 11:51] 21Broo commented on #90
넵 잘 해결하셨으면 좋겠네요 ㅋㅋ

[2022-01-20 12:28] 21Broo opened #113 "Can you indicate the time left until the object is created?"
![ojtimer](https://user-images.githubusercontent.com/71747410/150338188-1d7e95fb-670b-429f-b1e1-397a1253599e.png)
As shown in the picture above, can you display the time left until object creation? I'm not talking about how to display it as the basic function of the roll. I wonder if I can customize it like the picture.

[2022-01-20 13:09] floh22 commented on #110
See #3

Riot would need to enable the IngameAPI for this project in its current state to work on TR

[2022-01-20 13:09] #110 closed, assigned to floh22

[2022-01-20 13:10] floh22 commented on #106
best way would probably be to change the mask to the size of the screen, and then have the mask transparent only where you want it to show. The animation still comes in from the bottom, that cant be changed in config as far as I remember. You would have to change the frontend code and build it yourself

[2022-01-20 13:11] #102 closed, assigned to floh22

[2022-01-20 13:12] floh22 commented on #113
duplicate of #82

Currently I do not know of a reliable way to get the type of the next dragon spawning, so I cannot implement this feature

[2022-01-20 13:12] #113 closed, assigned to nobody

[2022-01-20 13:14] floh22 commented on #109
cannot reproduce this issue. Mind sharing browser logs?

[2022-01-21 11:23] 21Broo commented on #113
oh i see thanks i'll find a way myself

[2022-01-21 19:45] UnifiedHyper opened #114 "How do I change the inhibitor icons?"
I've created custom lane icons for an unrelated project, but I when I tried to replace the svg files in the folder with svg files of the new icons, the images did not generate in the overlay at all, leaving a blank space.

Is there any way to change them with the overlay accepting the changes?

[2022-01-22 03:10] AzureAstral opened #115 "[BUG] Custom backgrounds and images doesn't show up"
Hello, I have customized the backgrounds for all windows. However, this only appears for some and not others. And, that of the Gold graphs appears after several seconds or even sometimes gives me the old one. For inhibitors it does not even appear. I have to reload the overlay every time and again, it doesn't work every time, whereas when, they are the originals overlays, this problem does not ari

[2022-01-22 03:33] AzureAstral commented on #115
https://user-images.githubusercontent.com/82313405/150623249-8c9b2329-84dd-4f32-89fe-8d82f660e743.mp4

New bug too ! :)

[2022-01-23 10:21] daisukedd commented on #115
Disable alpha and refresh appliccation  and web broser with .json

[2022-01-23 12:55] AzureAstral commented on #115
atm i have this for gold graph :

    "Background": {
      "UseImage": true,
      "UseVideo": false,
      "UseAlpha": false,
      "FallbackColor": "rgba(19,24,63,255)"

And it's didnt work :(

[2022-01-24 17:21] TheDeathLotus commented on #104
Same here, though it's probably needed to say I have very little to no experience with GitHub and FrontEnd. Got the LeagueBroadcast-1.4.106.zip downloaded, set up and everything set-up inside of the app, with Streamlabs OBS paired up as well. The app itself says that the Client is connected though it doesn't create any sort of overlay for me when I jump into Drafting phase or the Game (where it st

[2022-01-25 00:46] enzanki-ars opened #116 "[FEATURE] API of memory pulled data, such as gold/damage/CS/etc."
**Is your feature request related to a problem? Please describe.**
I have been running League broadcasts for a while, and have been already attempting to integrate data pulled in from the live game API and LiveEvents API.  But that still leaves gold, damage, CS, bounties, and cooldowns for example that doesn't have any means of pulling from the official APIs.

**Describe the solution you'd like**

[2022-01-25 00:58] enzanki-ars commented on #116
Realized this might not be the best place for this, and a new project more oriented for folks that are wanting to create those displays would be better instead.

[2022-01-25 00:58] #116 closed, assigned to floh22

[2022-01-26 07:14] PieterVanZyl-Dev opened #117 "How to Generate Offsets ?"
I'm curious how to update the offsets

as a learning exercise on memory reading

Is there a guide I can follow, or some blog you can point me to, as to how this would work ?

[2022-01-26 16:49] saexy opened #118 "[BUG] CRASH WHEN I START THE GAME"
When i start the game, LeagueBroadcast crashs

 - OS: [e.g. Windows 10]
 - Version 1909

[2022-01-31 18:41] jfenn3883 commented on #104
I am having the same issue with the application saying disconnected with in game

[2022-02-01 01:41] egosykes commented on #103
Hello, I have the same problem. Restarted the LolBroadcast, reset the obs and the default Score still appears. Did anyone find a solution? Thanks

[2022-02-07 02:47] AzureAstral opened #119 "[FEATURE] Postgame"
Hi,

When the "postgame" work ? :D

[2022-02-07 13:53] #119 closed, assigned to floh22

[2022-02-07 15:44] exr commented on #115
Did you find a solution to that problem @AzureAstral? Having the same right now

Also: is there no "test mode" which shows all available overlays right now? It's pretty difficult working on those graphics and always having the game running as spectator

[2022-02-07 15:45] AzureAstral commented on #115
No solution… Same problem :(

[2022-02-09 08:13] Freeedooo commented on #3
Is there a possibility to put higher on the priority list? I would love to use it on TR as we got some bigger tournaments on the line this year! @floh22

[2022-02-10 12:50] floh22 commented on #3
It's something that I am working on, but I have had to take a step back from the project due to university. I would expect a version with TR support some time this year, but I can't promise anything or even give you a time line of when exactly to expect it.

[2022-02-10 16:05] poppaul95 commented on #3
I am also interested in the TR support, is there a way you can let us know when the version is coming?

[2022-02-10 16:23] floh22 commented on #3
Best way to get informed when this is implemented would be to star the repo or follow this issue

[2022-02-11 22:23] Alex-Tsvetanov opened #120 "[SUPPORT] Setup the app locally"
Hello,
I have issues starting ``http://localhost:9001/frontend?backend=localhost`` locally after ``Start without Debugging`` via Visual Studio 2022.

Can you give some instructions or message so we can arrange 1on1 help?

Regards,
Alex

[2022-02-11 23:37] Coow commented on #118
AFAIK the Windows Version is too old. Could you attach a Crash Report?
Its located here LeagueBroadcast\Logs\CrashLogs, then the file with the timestamp of the crash

[2022-02-13 15:07] hmcdat opened #121 "[FEATURE] Support new language"
Hello, I am from Vietnam.
Can you support Vietnamese language in this toolkit?
Thank you xD

[2022-02-15 22:45] TKRZHAI commented on #118
I have the same issue
[Log-2022-02-15-14-42.log](https://github.com/floh22/LeagueBroadcast/files/8075217/Log-2022-02-15-14-42.log)

[2022-02-15 22:48] Coow commented on #118
[14-42-15] [WARNING] App Crash detected. Writing Crash report to CrashLogs\Crash-2022-02-15-14-42.log
Could you send the crashlog instead please?

[2022-02-15 22:53] TKRZHAI commented on #118
here we g
[Crash-2022-02-15-14-42.log](https://github.com/floh22/LeagueBroadcast/files/8075254/Crash-2022-02-15-14-42.log)
o

[2022-02-19 03:04] Hay1tsme opened #122 "[BUG] Program crashes upon loading into a custom game"
**Describe the bug**
After the loading screen when loading into a custom game, LeagueHub will quietly crash

**Material**
Log:
[Crash-2022-02-18-21-16.log](https://github.com/floh22/LeagueBroadcast/files/8101343/Crash-2022-02-18-21-16.log)

**Desktop (please complete the following information):**
 - OS: Win 10
 - Version 20H2

[2022-02-20 13:50] Flofian opened #123 "[BUG] No Champion Icons in Exp tab and similar"
Opening the Exp tab shows the data and the summoner name they belong to, but no champion icon in most cases. It happend to me that there were a few icons, but I have no log file or any more infos of that.
New installation and restarting didnt help.

Attached are a verbose log file and a screenshot of the problem
[Log-2022-02-20-14-27.log](https://github.com/floh22/LeagueBroadcast/files/8104094/Log

[2022-02-20 13:57] Flofian opened #124 "[BUG] [LOW PRIO] Scoreboard only shows kills that happened in the current "session""
If you open a replay mid game, it only counts the kills that happened since the start of this "replay file".

Attached are 2 screenshots, the first show the external overlay, the second one shows the ingame score.
You can see the kills that happened at the ingame timeline.
![screenshot1](https://user-images.githubusercontent.com/56082272/154846119-99f847ac-481f-4c69-8ded-517be22d69ca.png)
![screen

[2022-02-20 14:10] Flofian opened #125 "[FEATURE] / [BUG] The external scoreboard no longer covers the entire ingame scoreboard"
Since the addion of Objective Bounties (I think), the external scoreboard no longer fully covers the ingame one and also doesnt provide as much information as the ingame one.

A few Ideas:

- Make it easier for the user to customize things (maybe it's already possible, but I couldn't find anything)
- Simply extend the external Scoreboard background image to cover the ingame one (at the loss of Obj

[2022-02-20 16:08] floh22 commented on #122
Was this a spectate game or was it played directly?

[2022-02-20 16:10] floh22 commented on #124
Limitation of memory reading

[2022-02-20 16:10] #124 closed, assigned to floh22

[2022-02-20 16:12] floh22 commented on #125
To customize, change the scoreboard yourself, all positions, backgrounds, etc are customizable. Try changing the ingame.json file and images in the ingame overlay.

Also its not meant to cover it, you should hide the scoreboard in the beginning of the game. There is a config option to do that automatically for you

[2022-02-20 16:12] #125 closed, assigned to floh22

[2022-02-20 16:13] floh22 commented on #118
Looks like a corrupted config. Try deleting farsight.json

[2022-02-20 16:16] floh22 commented on #120
Make sure to add the Frontend folder to your debug run environment, it does not get copied over automatically.

Structure would be something like `Debug/Frontend/ingame` and `Debug/Frontend/pickban` each with the built versions of the website.

Either that or start dev environments of the websites yourself. They are in Overlays/ and then their respective folder. Each has their own readme on this g

[2022-02-20 16:16] #120 closed, assigned to nobody

[2022-02-21 11:48] Taimoor-Tariq opened #126 "[HELP] App never connects to the league client"
I downloaded the latest release and ran the `LeagueBrodcast.exe`. But the app always says I'm disconnected from the client even after going into a game.
![image](https://user-images.githubusercontent.com/45585081/154949528-3bfba7ef-4471-4d18-95c4-20432e2c6180.png)

[2022-02-21 15:22] itscoquini opened #127 "[BUG] game.cfg line endings other than CRLF break memory reading"
When I start the program this pop-up appears
![image](https://user-images.githubusercontent.com/91434224/154983670-ba07688d-9426-4632-b47d-3f2681117a5e.png)

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro
 - Version 21H2 Build 19044.1566
[Log-2022-02-21-16-19.log](https://github.com/floh22/LeagueBroadcast/files/8110362/Log-2022-02-21-16-19.log)

[2022-02-21 15:35] floh22 commented on #127
`[WARNING] Could not parse game config. Replay API may not be enabled!` looks like the first issue. Can you go into your League install folder, open `Config/game.cfg` and check if there is anything that looks out of the ordinary? Like escape characters such as `\n` or similar. One thing to try is to close league, rename game.cfg to something else, and then start league again.

If that does not hel

[2022-02-21 15:36] floh22 commented on #126
Please use the issue template

[2022-02-21 15:36] #126 closed, assigned to nobody

[2022-02-21 15:37] floh22 commented on #123
Can you open the overlay website in your browser and check if the same happens there?
You can open the console in your browser and check for any errors there.
If any errors appear, can you post them as well?

[2022-02-21 15:44] floh22 commented on #121
Something that may come in the future.
If you wish to change item names in the overlay, you can change that manually by changing DataDragon: Locale to `vn_VN`. All supported language codes are included in this file: https://ddragon.leagueoflegends.com/cdn/languages.json

[2022-02-21 21:24] jtsteis opened #128 "[FEATURE] Any testing or plans for Windows 11"
Currently running into an issue on Windows 11 that it won't recognize .net core when installed. Tried both newest version and exactly 3.1.0 as stated by the warning.

I noticed that you had planned on this being run on windows 10 and am wondering if this is the issue and if so do you have plans to make this usable on Win 11?

[2022-02-21 22:06] itscoquini commented on #127
I don´t have nothing that you mentioned before. Maybe that´s the issue

[2022-02-21 22:46] floh22 commented on #128
Sorry, the build step for this project is so horribly mangled, I don't think i'll be able to provide support currently. Future versions (multiple months out) should however fix this

[2022-02-21 22:57] jtsteis commented on #128
that's a okay! I understand entirely. Glad it's at least on the radar for y'all

[2022-02-22 12:42] itscoquini commented on #127
This is my game.cfg
[game.txt](https://github.com/floh22/LeagueBroadcast/files/8116656/game.txt)

I'm using EUW and Spanish

[2022-02-22 14:24] Hay1tsme commented on #122
It was being spectated. The crash seems to be inconsistent, as spectating non-private games always works without issue, and spectating private lobby games seems to have about a 50/50 chance to crash.

[2022-02-22 15:10] floh22 commented on #127
Can you try changing line endings from `LF` to `CR LF`?

[2022-02-22 16:20] itscoquini commented on #127
I think the problem is fixed, thank you very much!

[2022-02-22 16:51] floh22 commented on #127
i'll keep this issue open so others know this issue still persists and how to fix it

[2022-02-22 18:57] poltar96 opened #129 "[BUG] New Drakes are not implamented"
**Describe the bug**
If one of the Teams slain an Hextech Drake (maybe Chemtank aswell, atm disabled) and you activated the Objective Pop Ups (Spawn and/or Kill) it won't appear.
After a short View in the Folders its missing in the Path: Frontend\ingame\images\scoreboardPopUps\Dragon

btw nice Tool! Keep going!

[2022-02-23 11:12] 21Broo opened #130 "How to change the location according to the length of the team name?"
![TeamName](https://user-images.githubusercontent.com/71747410/155308262-d6c71414-4d9e-42e0-a01f-f09c2e4d4729.png)
Is there a solution to solve the problem of not being located in the center when the length of the team name is changed as shown in the picture?

[2022-02-23 18:52] JoanJuan10 opened #131 "[BUG] On Custom Background Inhibitor, the background position can't be modified."
**Describe the bug**
No matter how hard I try to modify the Inhib Position values, the background doesn't change it's position, the only thing that changes are the values of the inhibitors itself and not the background, making it a fixed position and unable to, for example, make it higher on the screen so it won't collide with other overlays.

**To Reproduce**
Use a backgroundImage (set it on true

[2022-02-23 22:51] daisukedd commented on #130
editing position Ingame.json, X,Y position

[2022-02-24 05:16] 21Broo commented on #130
I already know how to do that. What I asked is a way to automatically change the location according to the number of letters.

[2022-02-24 05:26] 21Broo commented on #130
I tried using the "length" function and "if" in Scoreboard Visual.ts, but this is not possible because the team name is set to Blue and Red first and then updated.

[2022-02-24 15:30] FireFoXz09 commented on #129
They will be in the next version.

Temporary solution: https://github.com/floh22/LeagueBroadcast/issues/89

[2022-02-24 15:49] FireFoXz09 commented on #94
Happened again this monday.

In both situation, the activation of the graph make League Broadcast crash IF we are past the **35 minute mark.**

VOD : https://www.twitch.tv/videos/1305923143
1:07:25 in the video

[2022-02-26 18:30] JoanJuan10 commented on #131
An update to this, seems like when I reload the overlay on the OBS it bugs but whenever I modify something in the ingame.cfg the inhibitor image changes it's position to the correct one, but it's really unconfortable to be updating the .cfg only to make it work.
Here's a video showing it:

[https://youtu.be/BKUmwaYu0cI](https://youtu.be/BKUmwaYu0cI)

[2022-02-27 16:39] JoanJuan10 commented on #115
Okay so I was having the same problem and I found something that might help fix this issue. It seems the background of the gold graph reloads at the same time someone gets an item. I suppose that when it shows up, all overlays are reloaded and fixes the issue until you hide the gold graph, after that it bugs again. It's a loop.

https://user-images.githubusercontent.com/37046841/155891153-030ee44a

[2022-03-03 16:41] yoaprz opened #132 "[FEATURE] Add Garena LoL inclusivity / Allow users to choose the LoL folder directly instead of finding Riot Games folder"
Without any knowledge whether folder contents in the LoL folder are the same between the Garena and the Riot versions, I think the Garena LoL can be easily included by asking users to directly go to the LoL folder instead of strictly finding the "Riot Games" folder. The supposed Riot Games folder in Garena are named as some random numbers which I think indicate game version. The LoL folder has a d

[2022-03-06 06:57] overkido opened #133 "would it be possible to add no score, or Herald? [FEATURE]"
would it be possible to add no score, or Herald?
how or novo score?

![image](https://user-images.githubusercontent.com/89580284/156912679-cbf06123-d226-4993-a724-57bc8f079a65.png)

[2022-03-08 14:55] EagleCodeRR opened #134 "Program crashing when gold graph or gold tab opened"
I realised that the program usually  completely crashes when I try to open the gold graph or the gold tab. This doesn't really happen when the game that I'm spectating has just started. It usually occurs towards the end of a game and opening the program back doesn't really work out for me because it's a live game and when the program is turned back on the kill score or the, dragon's taken by teams

[2022-03-08 20:41] figyl opened #135 "Background image preload missing for gold graph"
While using
[code]
in Config/Ingame.json the gold graph background image is not preloaded [here](https://github.com/floh22/LeagueBroadcast/blob/ddf395d22c538d418672c2b8c37943494cd7422a/Overlays/ingame/src/scenes/IngameScene.ts#L50)

[2022-03-08 20:45] figyl commented on #135
This results in a weird state where the background is missing while the graph is up. [video](https://www.youtube.com/watch?v=d_5LmDc3KO4)

[2022-03-08 20:55] figyl commented on #103
You need to modify Config/Ingame.json

[2022-03-10 15:04] FireFoXz09 commented on #134
Yeah this bug have been found by many people. All we know for now is that it occurs near the endgame for most of us (for me, it happen around the 35 minutes mark every time) But we arent sure "why". So after the 30 minutes mark, I just stop pressing buttons xD

[2022-03-10 16:10] floh22 commented on #134
From my limited testing it seems like this is an issue when the amount of gold data is too large to be serialized properly. The website itself does not crash, only the actual program?

[2022-03-11 13:17] FireFoXz09 commented on #134
Yeah we click on the button for the gold graph (for example) and the program stop responding and close itself (and after that, close the webpage with the graphs so we don't see any overlays at all on OBS)

[2022-03-11 23:55] CryoTheRenegade opened #136 "[FEATURE] Support ProDraft / Add Overlay for ProDraft"
**Describe the solution you'd like**
Make an overlay that uses the web browser to display ProDraft in a clear and consice way.

**Describe alternatives you've considered**
(I have already made my own overlay for ProDraft tools, but my creativity is very limited.)

[2022-03-21 19:12] VeightV8 opened #137 "[ISSUE] App crashes upon starting"
When I open the .exe file it crashes. Here are the logs:
[Log-2022-03-21-20-06.log](https://github.com/floh22/LeagueBroadcast/files/8318606/Log-2022-03-21-20-06.log)
[Log-2022-03-21-20-06-0.log](https://github.com/floh22/LeagueBroadcast/files/8318607/Log-2022-03-21-20-06-0.log)

[2022-03-22 21:33] JusticeBirdie opened #138 "Could not read all champion data from memory."
**Describe the bug**
Every time I try to spectate a live game, be it custom or public, the notification stating that it cannot ready champ data shows up

**To Reproduce**
Steps to reproduce the behavior:
Since the API would not read my normal install location, I input it manually

**Expected behavior**
I expected it to work normally since it did so in replays

**Material**

[Log-2022-03-22-17-28.l

[2022-03-23 05:49] RabbitJun commented on #132
I have the same problem，I don't know what to write there，everything is wrong.

[2022-04-07 15:29] ghost opened #139 "Unable to find game installation even if everything is correct [BUG]"
**Describe the bug**
Program unable to find league installation on current version

**To Reproduce**
Steps to reproduce the behavior:
1. Start the tool
2. Probably just have the game / or having it inside a folder, not on root, on a secondary drive

**Expected behavior**
A clear and concise description of what you expected to happen.

**Material**
Added the route succesfully (Yes, I did save the f

[2022-04-13 17:32] vitinnbala opened #140 "Could not read all champion data from memory. Please submit an issue on github containing the current log and replay"
![unknown](https://user-images.githubusercontent.com/103596373/163236599-bc349f49-826d-4d46-89d0-414ed1c1c281.png)

Toda vez que vou ver um replay ou assistir, isto acontece.
Vi em #127 que tenho que mudar para CR LF, mas eu nao sei fazer isso. Poderiam me ajudar ?

[Log-2022-04-12-14-45.log](https://github.com/floh22/LeagueBroadcast/files/8483483/Log-2022-04-12-14-45.log)
[Log-2022-04-12-14-51.lo

[2022-04-18 22:09] bangingheads commented on #140
Resolved by 74d0f903b3ecde92f3a0b942fafe6add73447c3d.

[2022-04-25 10:27] Bouillot-Rngk opened #141 "[FEATURE] Custom Drakes and Barons timers"
**Vanilla timers (classic and esports) are not adaptable to custom DA**
Not a problem from the insane League Broadcast, but the OG timers are clearly not sexy for a custom DA and it seems like i can't implement custom timers myself (or i'm just not good enough with js)

**Describe the solution you'd like**
It would be amazing to add the possibility to have custom timers similar to the vanilla espo

[2022-04-25 10:35] Bouillot-Rngk opened #142 "[FEATURE] Damage dealt in fight"
**Is your feature request related to a problem? Please describe.**
Feature is just not there and could be a nice improvement

**Describe the solution you'd like**
An asset similar to the "gold diff from start" feature but with damage dealt on last fight could improve the "in game analysis" for casters. It's a complex feature, the main problem being "When does a fight start ?", and "Does the memory

[2022-04-25 12:53] siropregno opened #143 "program crashes after min 29"
hi! anyone with the same problem? thank you guys

[2022-04-25 12:57] Coow commented on #143
The crash seems to appear whenever you go beyong 29 minutes or so, and you try to bring up the GoldGraph.
Unfortunately I havent been able to figure out why that is the case

[2022-04-25 13:00] Coow commented on #136
While I agree that a Overlay for Draftlol or ProDraft would be nice.
I personally would say that that is outside the scope of this project.
@floh22 Might have another opinion on that

[2022-04-25 13:04] Coow commented on #142
Would defently be a very nice addition.
Memory reading is outside of my knowledge, so @floh22 would have to get the reading for Damage Dealt inside of the game

[2022-04-27 17:18] poppaul95 commented on #3
Any updates on this one?

[2022-04-29 16:11] Buetty227 opened #144 "Missing Offsets"
after starting its break down and this is the miss log
[Log-2022-04-29-16-08.log](https://github.com/floh22/LeagueBroadcast/files/8592202/Log-2022-04-29-16-08.log)

[2022-05-01 03:53] YI-YEE commented on #130
안녕하세요. 혹시 스코어보드 이미지 파일과 컨피그 좀 받을 수 있을까요..?

LCK 스타일로 스코어보드 제작 중인데 혹시 도음 주실 수 있을까요 ㅜㅜ

[2022-05-01 04:05] YI-YEE opened #145 "[BUG] Crash Error"
[Log-2022-05-01-13-02.log](https://github.com/floh22/LeagueBroadcast/files/8598259/Log-2022-05-01-13-02.log)
[Crash-2022-05-01-12-49.log](https://github.com/floh22/LeagueBroadcast/files/8598260/Crash-2022-05-01-12-49.log)
[Crash-2022-05-01-12-54.log](https://github.com/floh22/LeagueBroadcast/files/8598261/Crash-2022-05-01-12-54.log)
[Crash-2022-05-01-13-02.log](https://github.com/floh22/LeagueBroa

[2022-05-03 13:32] FireFoXz09 commented on #144
Strange. Can you try now that the offsets are updated (Floh updated them friday night). It nerver crashed on my side even when the offsets weren't updated tho.

[2022-05-03 14:04] Buetty227 commented on #144
oh ye its fine now ty

[2022-05-03 14:04] #144 closed, assigned to floh22

[2022-05-06 16:36] Laceleague opened #146 "[BUG Error 404 a la hora de poner la linea grafica del oro, asesinatos y torres globales de la partida."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Material**
* If applicable, add screenshots to help explain your problem.
* Include Logs of when the error occured

[2022-05-09 07:08] LetItBe22 opened #147 "[BUG]The program turns off when the game starts"
**Describe the bug**
A clear and concise description of what the bug is.
It's okay up to Ban Pick,
but the program turns off when the game starts

**Desktop (please complete the following information):**
 - OS: [e.g. Windows 10]
 - Version [e.g. 20H1 (May 2020 Update) Build 19041]

**Additional context**
Add any other context about the problem here.
[Crash-2022-05-09-16-04.log](https://github.com/

[2022-05-11 19:58] DreadpoolDDG opened #148 "Install Guide"
How do i get this to work?
I have absolutely no idea.
Can somebody help me?

[2022-05-13 11:57] Laceleague opened #149 "Could not read all data from memory champions. Submit an issue in github containing the current record and playback"
Hi! I have a problem with my program.I think there will be new patch. Good day and help me please!

![163236599-bc349f49-826d-4d46-89d0-414ed1c1c281](https://user-images.githubusercontent.com/105067114/168279158-e8316a29-a583-4312-96dd-62458dd90628.png)

[2022-05-13 15:37] Ons1992 commented on #149
Hi there, I do also have the same issue.

Since patch day the Memory reading is not functioning.
This has been tested in two devices.

On Windows 10 the score-bar shows but it does not work as intended.

On a Windows 11 machine the program crashes/disappears  as soon as the game starts.

Thanks for your hard work!

[2022-05-13 17:16] bwims91 commented on #148
Maybe this will help: https://ritualmotion.com/rmguild/sessions/using-league-broadcast-to-level-up-your-stream/

[2022-05-13 17:38] Laceleague commented on #149
Sisi, no funciona y nosotros los realizadores lo hemos probado y no va esperemos que se solucione pronto es el cambio de parche estoy casi seguro.

[2022-05-13 17:50] bwims91 commented on #149
Same here, looking forward to a fix!

[2022-05-14 16:21] DreadpoolDDG commented on #149
Same issue here

[2022-05-14 19:18] Coow commented on #149
Hi! @floh22 has pushed the Offsets, this should work now

[2022-05-15 15:17] miki98703 opened #150 "how can i use this program?"
after I followed the Installation, I turned on my replay( i turned on the in game function in application ),

but everything doesn't change without scoreboard disappering!
( and the scoreboard is not changed)

can you give me a some advice?

[2022-05-15 15:35] Coow commented on #150
Is the Browser source in OBS above the League Source?
Was the Features enabled in LB itself?

You might also have to "Refresh Cache of Current Page".

[2022-05-15 15:54] miki98703 commented on #150
Refresh Cache of Current Page?
how do I do it ?
I don't know about programing.

[2022-05-16 22:51] miki98703 opened #151 "How can i use the features?"
everything is running well, but I don't know about in-game features.
how can i turn on it?

[2022-05-17 13:04] FireFoXz09 commented on #151
The In-Game feature runs in a Browser Source. It does not appear on the game itself but as an overlay that you put above your stream in OBS or another program like that.

[2022-05-17 13:05] FireFoXz09 commented on #150
This program is made for broadcaster/streamer mostly. Do you stream spectators games and use OBS Studio? It is made to work with that (or any broadcasting software).

This little toturial can help you maybe : https://ritualmotion.com/rmguild/sessions/using-league-broadcast-to-level-up-your-stream/

[2022-05-19 12:43] miki98703 opened #152 "how can i use this progame in two computer?"
I'm trying to broadcast in two computer now.
 how can i use this program when i stream?

[2022-05-19 14:02] FireFoXz09 commented on #152
As far as i know, the program wasn't made for this purpose. (Single PC with League of Legends, League Broadcaster and OBS running).

I did find a turnaround tho for this on a remote production I had to do a few weeks ago by using the "Preview Projector" function of OBS to preview on another screen the game and the League Broadcast overlay, then "Screen Sharing" this screen to the PC that broadcast

[2022-05-21 07:05] MrHernandezTeaches opened #153 "401 - Unauthorized"
I've done several installs of this application. However, after working for a little while the page refreshes and I receive a 401 - Unauthorized

Exception type: EmbedIO.HttpException.

Since this is the overlay being used as the browser source in OBS it will display the error instead of the data. Looking at the logs it appears that the events are being read and stored, but the display isn't being

[2022-05-21 18:36] Taku092 opened #154 "Missing .exe[BUG]"
No .exe file to start the programm

[2022-05-21 18:50] #154 closed, assigned to floh22

[2022-05-25 20:34] Laceleague opened #155 "Broken Offsets 12.10.1 [BUG]"
Hi! I have a problem with my program.I think there will be new patch. Good day and help me please!

[2022-05-25 20:34] Laceleague commented on #155
I need help

[2022-05-25 20:38] Laceleague commented on #155
Hi! I have a problem with my program.I think there will be new patch. Good day and help me please!

[2022-05-25 20:57] Laceleague commented on #155
![168279158-e8316a29-a583-4312-96dd-62458dd90628](https://user-images.githubusercontent.com/105067114/170365963-6a6aabcf-68bd-4390-95b3-6d9cb254359d.png)

[2022-05-26 12:15] FireFoXz09 commented on #155
This is not a bug but it's only because the offsets of the new patch haven't been updated yet on the League Broadcast software. It takes usually 1 or 2 days (usually done the friday) to update manually by **floh22**.

Usually you should be able to still use the program, but some feature can bug or not work properly. Just wait a day or two and it should be done :)

[2022-05-26 13:10] Grayknife commented on #155
I leave not working features on patch 12.10.1 as a comment here:
- Only the CS per Minute Graph seems to be working correctly
- Item/Levelup Notifications do not working
- EXP and Gold Tab do not open (after opening cs/min, this tab will be opened even if gold or exp tab are clicked)
- Goldgraphs shows an empty graph

I do not use other features, but there could be more bugs.

I will check it agai

[2022-05-26 13:36] floh22 commented on #155
Because of an oversight, some offsets were not updated after the latest patch.

**If you have already started LeagueBroadcast after 12.10.1 and are now running into issues, delete `Config/Farsight.json` before starting the program.**

At some point in the future I will add an ability to hotfix offsets in cases like this

[2022-05-26 13:36] #149 closed, assigned to floh22

[2022-05-26 13:37] #140 closed, assigned to floh22

[2022-05-26 13:37] #138 closed, assigned to floh22

[2022-05-26 13:38] #137 closed, assigned to floh22

[2022-05-26 13:42] floh22 commented on #147
`[WARNING] LeagueBroadcast not enabled in live game. Stopping game connection`

This line in the config indicates you were trying to run the program over a live game instead of a replay. I'm going to assume it actually was a replay due to the following line:

`[WARNING] Could not parse game config. Replay API may not be enabled!`

This means your game config couldnt be parsed. Mind sharing it? it

[2022-05-26 13:42] #146 closed, assigned to floh22

[2022-05-26 13:44] floh22 commented on #136
If you use ProDraft, then I would recommend not using this projects PickBan feature and relying on ProDraft directly.

It's quite out of scope to create a new UI for ProDraft, or rather something that should be addressed by another project, at least for now

[2022-05-26 13:44] #136 closed, assigned to floh22

[2022-05-26 13:45] floh22 commented on #143
duplicate of #134

[2022-05-26 13:45] #143 closed, assigned to floh22

[2022-05-26 13:47] floh22 commented on #145
Looks like you corrupted your ingame.json config. Make a backup and delete your ingame.json. Invalid json will currently crash the program instead of rejecting the invalid file

[2022-05-26 13:47] #145 closed, assigned to floh22

[2022-05-26 13:50] floh22 commented on #152
The webserver hosted by LeagueBroadcast should be available to the outside network. In your LAN you should be able to access the websites or API by using the local address of the PC hosting LeagueBroadcast. Outside of your local network you would have to port forward or similar since your local PC is acting as a server host. Either this or @FireFoXz09 solution should both be viable ways to adapt t

[2022-05-26 13:50] #152 closed, assigned to nobody

[2022-05-26 13:52] floh22 commented on #153
can you open the overlay in your browser and open the console, then replicate this issue and post the console contents? This as well as LeagueBroadcast logs should help narrow down the issue

[2022-05-26 13:52] #151 closed, assigned to nobody

[2022-05-26 13:52] #148 closed, assigned to nobody

[2022-05-26 13:52] #150 closed, assigned to nobody

[2022-05-26 13:53] floh22 commented on #139
try adding `\\` at the end of each install location. That has been an issue for some in the past

[2022-05-26 14:40] Odin0711 opened #156 "[BUG]Can't work on Chinese client"
I tried many times, but it doesn't work on the Chinese client.
There are many users in China who want to use it, but it doesn't work for Chinese clients

[2022-05-27 02:26] MrHernandezTeaches commented on #153
All the logs end with "[WARNING] Could not save all configs"

I uploaded a few of the logs. Since I posted I did another fresh install, and more carefully modified the config files and ingame images. We're working fine for now. I cannot replicate the console in the browser anymore since it is functioning, but I dug through my search history and looked up this error from that day: Failed to Load Re

[2022-05-27 02:26] #153 closed, assigned to nobody

[2022-05-29 15:21] sod101316 opened #157 "Why is there no update?"
You have confirmed some bugs and requests, but no updates. The most recent update is last year and it's been a long time. please update

[2022-05-29 15:40] floh22 commented on #157
I work on this in my free time and have work and uni as well.
If you need updates for fixes, you are free to create a PR yourself, I would more than welcome the help.

[2022-05-29 15:40] #157 closed, assigned to floh22

[2022-05-29 15:42] floh22 commented on #157
Side note, issues asking "how does this work" or "please fix" will be deleted. I am leaving this up as a showcase and warning of exactly what not to do.

I am aware many users of this project dont often work with github, but this is not it. It annoys me, spams bug reports, and helps exactly noone.

[2022-05-29 15:47] floh22 commented on #156
As I dont have access to the chinese client and I know the chinese client has extra anticheat protections, i'm not able to develop for it.

As far as I know, anticheat for the chinese client is quite sophisticated, so I sadly don't think I will ever be able to add support for the region.

[2022-05-29 15:47] #156 closed, assigned to floh22

[2022-05-30 13:32] #155 closed, assigned to floh22

[2022-06-05 20:30] Laceleague opened #158 "[BUG] Cuando inicio el programa dentro de partida da error " Not found 404 ""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Material**
* If applicable, add screenshots to help explain your problem.
* Include Logs of when the error occured

[2022-06-09 07:38] aeclipsia opened #159 "[BUG] League Broadcasts stops working upon launching in-game"
League Broadcast just stops whenever the replay starts.

I also noticed that it works fine in its first launch after unpacking but it stops working after relaunching it.
League's config file is in cr lf too.

I just can't seem to make this work.

Desktop:
Windows 11 Home
10.0.22000 Build 22000

[2022-06-09 10:21] MDvorky opened #160 "[BUG] Pick&Ban not showing after new patch + gold not counting"
pick&ban phase working and dont working sometimes, even if im restarting the source
and actually, with new patch - gold amount doesnt seem to update as well
only counting kills and turrets and drakes, but not golds

[2022-06-09 17:44] meeeww opened #161 "Could not read all champion data from memory."
**Describe the bug**
When I open the game on spectator mode, I receive that error and closes the game.

![image](https://user-images.githubusercontent.com/102923191/172910650-c9878bf3-a789-4ce5-9765-5f98b4296663.png)

[2022-06-09 18:41] FireFoXz09 commented on #160
For the Pick&Ban, was it doing this before this patch? (Just curious since I had this problem for months)

For the "gold amount" problem, seems like an offset patch that *floh22* need to do manually. Should be fixed this weekend. :)

[2022-06-09 18:50] MDvorky commented on #160
PB was working smoothly, suddenly stop working few days ago. I thought that was due to new patch or something. I tried open and close program. Update the source file but so far nothing works.

Thank you for the update.

One more question - i already downloaded league broadcast 2.0 - is somehow possible to use this or should go on 1,4,10. version? Thank you for the answer :)

[2022-06-09 19:29] AzureAstral opened #162 "[BUG] Impossible to use"
Hello,

When i start the game i have this message : "Could not read all champion data from memory. Please submit an issue on github containing the currend log and replay"

... and the software crash..

I try so many time to restart, game, computer and League Broadcast and impossible to resolve this problem...

[Log-2022-06-09-21-13-0.log](https://github.com/floh22/LeagueBroadcast/files/8873323/Log

[2022-06-09 19:39] AzureAstral commented on #161
I have same error....

[2022-06-09 19:40] AzureAstral commented on #160
Where u found League Broadcast 2.0 ? The latest release is 1.4.10 :o

[2022-06-09 20:03] MDvorky commented on #160
I somehow downloaded it :D but there is no exe :D so i cannot run it :D and one more question - is replay possible in 1.4.10? Or?

[2022-06-09 20:04] AzureAstral commented on #160
Replay ? What do you mean ?

U have the link for 2.0 ?

[2022-06-09 22:06] MDvorky commented on #160
https://github.com/floh22/LeagueBroadcast - this first folder :D

[2022-06-10 20:25] meeeww commented on #162
It's for everyone. It broke this patch and we gotta wait for an update

[2022-06-10 21:47] #159 closed, assigned to floh22

[2022-06-10 21:47] #161 closed, assigned to floh22

[2022-06-10 21:47] #162 closed, assigned to floh22

[2022-06-11 09:06] aeclipsia opened #163 "How do you change fonts?"
I know it should be located somewhere in the ingame.json file within config, but I don't know what format it should be typed in. Can someone help me?

Thanks

[2022-06-13 10:58] daisukedd commented on #163
in /config/InGame.json in final lines this code:
`
"GoogleFonts": [
    "News Cycle",
    "News Cycle:bold",
    "Droid Sans"
  ],
`
You import Google Fonts or Local fonts installed in system - example:
`
"GoldFont": {
      "Style": "Bold",
      "Name": "Joyride",
      "Size": "22px",
      "Align": "left",
      "Color": "rgb(230,190,138)"
    },
`

[2022-06-14 13:14] Laceleague opened #164 "[BUG] Cuando inicio el programa dentro de partida da error "Not found 404 ""
Buenas, tengo un problema con el league broadcast y da error al iniciar el programa, a los demás le va bien no se si se debe a que una carpeta no esta en el sitio correcto aunque actualmente utilizo streamlabs y ellos obs. Cuando abro streamlabs y quiero colocar el navegador como fuente me da este error "Not found 404 "

Gracias y un saludo si me pudieran ayudar!

[2022-06-16 15:32] LuzrodGaming opened #165 "[BUG] App instantly crashing after booting it up"
After correcting the path to the game, booting the app no longer gives me the error that it couldn't find Riot Games's folder path.

But ; when launching LeagueBroadcast.exe, it does nothing after I see the splash screen. It goes off and nothing appears.

I checked the Logs folder and looked for the crash log, which is pinned [here](https://github.com/floh22/LeagueBroadcast/files/8920294/Crash-202

[2022-06-19 10:04] LuzrodGaming commented on #165
EDIT : Fixed after uninstalling and installing it again

[2022-06-19 10:04] #165 closed, assigned to nobody

[2022-06-20 15:41] syuanlyu opened #166 "[BUG] Baron Timer and Elder Timer not appear"
When i click the Baron Timer and Elder Timer, nothing happened on the screen when the team kill the Baron and Elder .Is there anything i have to do before i click the Baron Timer and Elder Timer? or how can i fix it?
Another question is the dragon icon not appear under the score after the team kill it.

[2022-06-21 06:44] Nezumi2711 commented on #166
You can follow this instruction, all bug will be fixed. https://github.com/floh22/LeagueBroadcast/issues/8#issuecomment-839817187

[2022-06-21 09:11] syuanlyu commented on #166
Sorry, I am confusing that I should add the following to which file?

[LiveEvents]
Enable=1
Port=34243

[2022-06-22 05:10] syuanlyu commented on #166
I add it into Game\Config\game.
But when the match start,it stuck on loading screen.
After a minute, the game crash.

[2022-06-22 06:07] syuanlyu commented on #166
That help, thanks.

[2022-06-22 06:07] #166 closed, assigned to floh22

[2022-06-23 12:26] sod101316 opened #167 "I want to send my in-game overlay to another computer"
I want to send my in-game overlay to another computer.
I tried changing localhost to IP, but it was not sent to another computer. what should i do

[2022-06-23 21:44] KharTerra opened #168 "Cannot Collect Champion Data"
[Log-2022-06-23-16-38.log](https://github.com/floh22/LeagueBroadcast/files/8971184/Log-2022-06-23-16-38.log)

I cannot attach a copy of the replay because I was spectating a friend's game. This issue has, however, happened a number of times today.

[2022-06-24 04:32] rapz commented on #168
League client just updated, please wait up to 72hrs till @floh22 update the offsets

[2022-06-25 00:36] Coow commented on #167
You would need to change the backend URL Parameter aswell I think.
So: http://localhost:9001/frontend?backend=localhost
would become:
http://192.168.5.100:9001/frontend?backend=192.168.5.100

[2022-06-25 13:01] syuanlyu opened #169 "Is it possible to change the titles of InfoPage's Gold, XP, CSPM respectively?"
When I open the Ingame.json file, I only see "InfoPage" "Title" "Enabled": true, but I don't know if I can change the text content separately?

[2022-06-25 20:06] Slowrik opened #170 "abro el programa bien pero en cuanto entro a mi cuenta el programa se cierra y lo vuelvo abrir y se cierra[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Material**
* If applicable, add screenshots to help explain your problem.
* Include Logs of when the error occured

[2022-06-25 20:15] Slowrik commented on #170
![prueba](https://user-images.githubusercontent.com/108196749/175789228-4cf8a9ec-a1fd-4e08-8320-3520c981a564.jpg)
de esa manera esta pero el programa se cierra y eso solo pasa cuando ya estoy dentro de la cuenta, si lo abro antes de abrir el cliente jala pero en cuanto entro a la cuenta me sigue pasando lo mismo el programa se cierra

[2022-06-26 12:57] sod101316 commented on #167
I also changed the backend to ip but it doesn't work

[2022-06-26 19:44] Mouchapin opened #171 "[BUG]"
Describe the bug
A clear and concise description of what the bug is.
 program turns off when the game loging

Desktop (please complete the following information):

OS: [e.g. Windows 10]
Version [e.g. 20H1 (May 2020 Update) Build 19041]

[2022-06-27 11:36] Xahrie opened #172 "Could not read all champion data from memory"
I have this issue running on the current patch (12.12.1).

![image](https://user-images.githubusercontent.com/39407849/175932298-a89865e9-7cdd-400b-86ac-fa0a9d4795c4.png)

[2022-06-27 11:41] daisukedd commented on #169
I believe it is possible to edit before compiling LeagueBroadcast, I found these keywords in the repository. But I still don't know how to compile.

[2022-06-27 11:44] daisukedd commented on #170
This automatic closing happens to most people, but to reduce the chances it is important to open the LB after logging into the client and in spectator mode do not advance the timer or go back in time, if you have an album bug in spec mode, wait and advance 1s or 2s

[2022-06-27 11:47] daisukedd commented on #167
Did you get to test this? I'm trying to run LB from another pc to be able to control notifications. Basically having two computers, one just spec and the other controlling the LB.

[2022-06-27 11:51] daisukedd commented on #172
This problem happens sometimes and it is possible to continue using the program without problems, just ignore it, in some cases just restarting the software solves it. But when did that happen? when opening? During Replay? Did you pause the game or go back in time?

[2022-06-27 21:20] derianchow opened #173 "Assets/Overlays disappear after a few seconds"
When I open a replay, the scoreboard will pop up for a bit then suddenly disappear. Even when I relaunch the program it still doesn't show up, along with other graphs. Wondering what the fix is cause it feels like a really simple issue that I can't figure out.

[2022-06-28 05:05] Slowrik commented on #170
listo solucionado el problema era del mismo cliente el problema no de la aplicación, solo desinstale y volví a instalar el juego y ya no se me cerro para nada

[2022-06-28 07:13] Xahrie commented on #172
List of things that are not working:
- Team gold stays at 2,500g
- CS / min graph shows incorrect data (i.e. Kayn as 2nd place - but he had the 3rd lowest cs)
- Gold / min shows nothing or the cs graph (same with XP)
- Item purchases and levelups are not displayed
- when elder or nashor are up the icon is not displayed but after it was killed the icon will show up
- upon disabling "show powerplay"

[2022-07-15 21:07] DreadpoolDDG opened #174 "Couldnt read champion data on League 12.13[BUG]"
The program doesnt want to update the gold

[2022-07-16 12:46] xTrimy opened #175 "[BUG] Application closes unexpectedly after just opening it"
The application closes unexpectedly after just opening it.

### Log:
[14-36-12] [WARNING] Could not download https://cdn.communitydragon.org/latest/champion/Nilah/splash-art/centered
The remote server returned an error: (404) Not Found.
[14-36-12] Outdated Offsets detected. Downloading new ones
[14-36-12] Fetching new offsets from https://raw.githubusercontent.com/floh22/LeagueBroadcast/v2/Offsets

[2022-07-16 19:08] dawxyz commented on #175
its because the offsets arent updated to the latest patch i think

[2022-07-16 20:58] xTrimy commented on #175
@dawxyz Yes, I thought of that too after reading the logs. I'll keep the issue open to notify @floh22 about that.

[2022-07-20 16:28] MDvorky commented on #172
@floh22 need to update offset :) That's all

[2022-07-20 16:30] MDvorky commented on #175
Isn't there a way to update it automatically or make it more automatic?

[2022-07-20 16:32] MDvorky opened #176 "[Improvement] Automatic offsets - is there a way?"
Can we somehow make uploading offsets more automatic?
Is there a way?

[2022-07-20 18:39] MDvorky commented on #174
We need to wait for update :)

[2022-07-23 11:47] MDvorky commented on #176
Or just show us how to do, so we can make it by ourselves - leave tutorial or some guide to it. Please :D I have all my graphic based on this app to work @floh22

[2022-07-23 17:50] Grayknife commented on #86
Viego bug is still present :(

[2022-07-24 10:48] xTrimy commented on #175
@MDvorky I've updated the offsets here: https://github.com/xTrimy/LeagueBroadcast ... Add this repository to the configs and it should work. I tested it after updating and it works, not sure if all works fine though, tell me if you found any issue, it's my first time to test some offsets :D

Thanks go to @floh22 for sending me the instructions on how to update the offsets.

[2022-07-24 10:53] #175 closed, assigned to floh22

[2022-07-24 22:51] baddog86 opened #177 "[FEATURE] How to create offsets?"
Are there instructions for how to generate offsets each patch, its been a long time since the github was updated with them.

[2022-07-25 13:13] daisukedd opened #178 "best wishes for you❤"
May you have a good health recovery, my English is not very good. Take care and don't rush, you're giant and LB belongs to the community, if you can help, just call. Best wishes friend. @floh22

[2022-07-25 21:08] wsthilaire commented on #178
<3 Feel better @floh22

[2022-07-28 00:56] AzureAstral opened #179 "[BUG] Cannot read data"
Hello,

I have a tournament (partner with RIOT GAMES) this week-end and the progam said "Cannot read data" ... Gold dont update, etc...

Plz I need help ! It's really important !

Thx 🙏

[2022-07-28 01:17] AzureAstral commented on #169
U can disable the title and you make a background image with the title you want ;)

[2022-07-28 08:31] Coow commented on #179
If it for live, follow these instructions :
https://github.com/floh22/LeagueBroadcast/issues/175#issuecomment-1193292378

If its for tournament realm:
Unfortunately the memory mappings for the Tournament Realm is different than Live. So all Ingame Memory Reading functions, like gold graph, wont work.

[2022-07-28 10:48] AzureAstral commented on #179
It's for live.

But it's work for 12.14 ? He was release yesterday

[2022-07-28 10:52] Coow commented on #179
You would have to wait for @xTrimy to make new offsets then

[2022-07-28 10:57] AzureAstral commented on #179
Ok so i need to wait @floh22 or @xTrimy make new offsets...? No solution ?

[2022-07-28 13:09] daisukedd commented on #169
@AzureAstral Doing it this way I believe it influences the input and output animation, as they are on the same layer.

[2022-07-29 12:00] AzureAstral commented on #179
Really no solution ? I really need it T_T

[2022-07-29 16:14] MDvorky commented on #179
You can generate offsets by yourself - but it is little bit complicated :) or you have to wait.

[2022-07-29 16:15] AzureAstral commented on #179
How i can generate offsets ?

[2022-07-29 19:11] AzureAstral commented on #179
No information ? :/

[2022-07-29 20:26] JoanJuan10 commented on #179
There is no clear information on how to generate those offsets since those change from version to version. To know about them you may need to ask the creator of this repo.

For now what I would do is wait for this to update when he heals up or take a look at the forks of this project, since other people are already trying to generate those offsets.

[2022-07-30 20:14] #178 closed, assigned to nobody

[2022-07-30 20:14] #179 closed, assigned to floh22

[2022-07-30 20:16] floh22 commented on #176
You could update the program to use patterns instead of offsets directly, since those change far less frequently, but this would be a rather large undertaking and require extensive knowledge of the League codebase, or rather a good bit of experience in IDA.
I sadly do not have the time to do this, and barring unforeseen illness or similar, updating takes between 5-30 minutes every two weeks, not j

[2022-07-30 20:16] #176 closed, assigned to floh22

[2022-07-30 20:16] #172 closed, assigned to nobody

[2022-07-30 20:17] #168 closed, assigned to nobody

[2022-07-30 20:17] #171 closed, assigned to floh22

[2022-07-30 20:18] floh22 commented on #173
due to missing offsets. updated

[2022-07-30 20:18] #173 closed, assigned to floh22

[2022-07-30 20:18] floh22 commented on #174
offsets updated

[2022-07-30 20:18] #174 closed, assigned to floh22

[2022-07-30 20:20] floh22 commented on #177
I will create a short tutorial in the coming days and add it to the readme, or at least overview of what one would need to do to update offsets.

This will however require at least some technical knowledge, any dev with some experience should however be able to recreate the steps

[2022-07-30 20:26] wsthilaire commented on #177
Thanks, hope you're feeling better :)

[2022-08-01 17:02] OrionCodeDev commented on #177
It's will be huge <3 Waiting for it. Also i have a question CreepScore not be in memory read or it's be hard to get it?

[2022-08-11 20:52] overkido opened #181 "Memory erro, offsets again from the update [FEATURE]"
![image](https://user-images.githubusercontent.com/89580284/184239849-1e411a6a-65c3-4c21-b9ba-350e4ad77fc2.png)

[2022-08-12 00:13] overkido opened #182 "timer drags??? [FEATURE]"
I enabled the drag video how to increase the display time to 10 seconds?
![image](https://user-images.githubusercontent.com/89580284/184262567-f82a6a53-ef1f-4820-b77b-c36ca9dab60c.png)

[2022-08-12 00:13] #181 closed, assigned to floh22

[2022-08-17 20:15] overkido opened #183 "can someone help me fix this [BUG]"
I've already changed fonts I've already increased the font size and it doesn't increase the size when opening the chart.
![image](https://user-images.githubusercontent.com/89580284/185233713-68f718f7-0aab-4ab7-aaa3-eab49111c3ee.png)

here as it is currently in the settings.
![image](https://user-images.githubusercontent.com/89580284/185234215-e2eb632a-cf4b-43ac-854d-07b976d8e1dc.png)

[2022-08-17 20:15] #182 closed, assigned to floh22

[2022-08-21 23:45] overkido commented on #183
can someone help me with this bug, which does not increase the font size in the chart?

[2022-08-22 10:40] daisukedd commented on #183
Esse bug rola faz um tempo, na pior das opções só reiniciando ou deixando como está, btw nem sempre precisa usar o gráfico

[2022-08-22 11:31] overkido commented on #183
toda partida uso o gráfico por isso preciso saber se tem como arrumar

[2022-08-24 17:58] OrionCodeDev commented on #177
@floh22 "in the coming days" :D Any updates Sir?

[2022-08-25 07:43] Tortron1 opened #184 "Add support for League Tournament Realm"
I'm trying to connect the program to League tournament realm, but it doesn't register it as a client.
Maybe add League tournament realm as a valid client for the program to attach to.

[2022-08-25 12:23] Tortron1 opened #185 "The remote server returned an error: (404) Not Found."
**Describe the bug**
Game crash when starting to spectate the game

**To Reproduce**
Steps to reproduce the behavior:
1. Start to spectate a random game
2. Startup the program
3. The program will crash after a few seconds of inactivity

**Expected behavior**
Program scans the game and transmits to the localhost:9001

**Material**
[Log-2022-08-25-14-11.log](https://github.com/floh22/LeagueBroadcast

[2022-08-25 15:15] meeeww opened #186 "How can I change the scoreboard color?"
I would like to change the scoreboard color for a custom one. I have searched a lot through the files but I didn't find it yet, so I would please like to know where to find the config to change the RGB or RGBA color. I know this isn't a bug but don't know where to post it. Thanks for your time and sorry for the inconvenience.

[2022-08-25 18:03] daisukedd commented on #186
After making the changes it is good to restart the program

[2022-08-25 22:57] overkido opened #187 "offsets not working [BUG]"
offsets not working, general gold and level don't show

[2022-08-26 01:15] daisukedd commented on #187
I contacted the developer and I'm trying to help him

[2022-08-26 09:22] meeeww commented on #186
That's not what I asked xD

[2022-08-26 10:22] meeeww commented on #186
I found it, thanks anyways. In case anyone is interested, it's in the config file inside ..\LeagueBroadcast\Config\Ingame.json and you have to scroll down until line 362 called background.

[2022-08-26 10:22] #186 closed, assigned to floh22

[2022-08-26 12:49] OrionCodeDev commented on #187
It's will be easier when we will get promised tutorial for getting offsets. That project be little dead, only updates be about offsets meh.
#177 - one month ago

[2022-08-26 17:50] floh22 commented on #187
I do this in my free time for free for the community. If you need updates or offsets quicker, feel free to provide those yourself.

Offsets updated and Tutorial posted

[2022-08-26 17:50] #187 closed, assigned to floh22

[2022-08-26 17:50] floh22 commented on #184
Duplicate #3

[2022-08-26 17:50] #184 closed, assigned to floh22

[2022-08-26 17:51] #177 closed, assigned to floh22

[2022-08-26 17:51] floh22 commented on #183
These values have to be changed in source and the frontend rebuilt, there is currently no configuration option for them

[2022-08-26 17:51] #183 closed, assigned to floh22

[2022-08-26 17:54] floh22 commented on #185
Looks like League API was having difficulties. This in combination with missing offsets causes a crash. Shouldnt happen but is an edge case issue I probably wont fix

[2022-08-26 17:54] #185 closed, assigned to floh22

[2022-08-26 20:06] Tortron1 commented on #185
Does this mean that I won't be able to use this program or will it eventually resolve itself?
Because the same problem keeps presenting itself even when switching PC's.

[2022-08-31 11:35] Tortron1 commented on #3
Are any program features supposed or expected to work within tournament realm, or is the program unresponsive to the TR client?
I can't get the program to recognize the TR client as a valid source, and no data seems to be displayed. Is this expected behavior, or should some aspects of the program still function?

[2022-09-01 03:52] #169 closed, assigned to floh22

[2022-09-26 23:43] MDvorky commented on #135
I found the fix. Just change from this:
 "Background": {
      "UseImage": true,
      "UseVideo": false,
      "UseAlpha": false,
  to this:
   "Background": {
      "UseImage": false,
      "UseVideo": true,
      "UseAlpha": false,

Don't forgot to save and refresh in the OBS. Just let me know, if it works. :)

[2022-09-29 19:34] dajajaultra opened #189 "[BUG] Color issue"
Hi! I think there is a bug in Chaos Color for Gold/XP/CSPM, I set up the color green but won't show up

![image](https://user-images.githubusercontent.com/114696213/193124908-f493d557-6027-4122-9f92-ef40dab942c2.png)

![image](https://user-images.githubusercontent.com/114696213/193124494-3fa725b4-c716-4917-98c7-b0cc06d09a58.png)

[2022-09-29 23:21] AzureAstral opened #190 "Update 12.18 ?"
Offsets are not updated for patch 12.18 ?

Because the software crash with "Impossible to read ..." :(

[2022-10-04 20:32] discodanz opened #191 "Patch 12.19 offset"
Hi team,

12.19 has just landed. Wondering what the ETA will be for updated offsets?

-Dan

[2022-10-04 20:34] discodanz commented on #191
[Log-2022-10-05-09-15.zip](https://github.com/floh22/LeagueBroadcast/files/9710451/Log-2022-10-05-09-15.zip)

Attached log.

[2022-10-06 02:35] discodanz commented on #191
If anyone has the capability to update the offsets please reach out. Happy to pay. We have an LAN in 24hrs that we have spent a lot of time building a Hud for. Thank you :D

[2022-10-07 10:54] MDvorky opened #192 "[FEATURE] Stream Deck Compatibility"
I was wondering,

would it be possible to somehow make it work with the Stream Deck? Do app for Stream Deck store that is available and be able to control the LB via Stream Deck. I was just wondering.

[2022-10-07 18:07] GhostSenseiFR commented on #192
It would be one of the most useful feature for LB. Having to alt tab the game is unconveniant and it can mess up your ingame camera.

If anyone knows how to do this, It would be amazing.

[2022-10-08 01:21] ElPorito opened #193 "Champ slect doesnt appear [BUG]"
**Champ slect doesnt appear**
I follow the instruccions, the broadcast stays conected to lol client, but when I start the champ select the broadcast doesnt show something in the browser and obs... I clean cache but doesnt work

![image](https://user-images.githubusercontent.com/87684258/194680352-55c0da0c-b3df-4dfa-ad7e-e81cd3aacdec.png)

**Desktop (please complete the following information):**
 -

[2022-10-11 08:44] MDvorky commented on #160
I just found it :D but there is no exe file :)

Dňa št 9. 6. 2022, 21:40 AzureAstral ***@***.***> napísal(a):

[2022-11-01 15:55] kartavkun opened #195 "[BUG] .Net Core error in Windows 11"
I ran the LeagueBroadcast.exe file and it gave me an error about .Net Core. I installed and restarted, but nothing worked

![explorer_H3Bvaiy9zQ](https://user-images.githubusercontent.com/69749101/199277993-d5880ae9-6057-442a-9183-0266767b2e03.gif)

 - OS: Windows 11
 - Version 21H2

[2022-11-02 00:44] TheD4nM4n opened #196 "[BUG] Could not convert string 'TalentReaperItem' to dictionary key type 'System.Int32'"
**Describe the bug**
LeagueBroadcast immediately crashes upon launch with the error below:
`Could not convert string 'TalentReaperItem' to dictionary key type 'System.Int32'. Create a TypeConverter to convert from the string to the key type object. Path 'data.TalentReaperItem'.`

**To Reproduce**
Steps to reproduce the behavior:
1. Launch LeagueBroadcast

**Expected behavior**
The app would load.

[2022-11-02 08:00] Nanovic30 commented on #196
Hello there !
I have exactly the same issue as you, I hope it will be fixed soon because this feature seems to be incredible and I can’t wait to use it haha

[2022-11-02 10:28] Huncrysio commented on #196
Same issue here

[2022-11-02 15:51] ruuffian commented on #196
I read through the logs since I am having the same issue, and it looks like the program is crashing when trying to check data dragon for the latest patch. Does your log have something like this as well?
![image](https://user-images.githubusercontent.com/58525247/199537022-4569857d-8a64-4fa5-938c-2e86dcdad93c.png)

[2022-11-02 15:58] Nanovic30 commented on #196
I think we’re all having the same issue, my log is exactly the same as yours
Maybe 12.21 made something wrong with the process, I thought that only offsets needed to be updated for each patch but it seems to be different there (but I can be wrong)

[2022-11-02 16:04] ruuffian commented on #196
From my extremely limited experience with DataDragon, it is not very consistent. I remember reading somewhere in the Riot documentation that DataDragon can experience undocumented changes/things not working randomly- might not be a quick fix.

[2022-11-02 18:50] TheD4nM4n commented on #196
I linked the logs above in the original report, and those logs line up with yours. As per @ruuffian's response, it seems DataDragon may have been updated and it's structure changed. I would love to look into the structure and see what is going on.

[2022-11-02 19:03] TheD4nM4n commented on #196
Upon research into the *item.json* file within the latest DataDragon patch, I can see the problem. `TalentReaperItem` is a structure within the `data` structure, and it does not follow the original naming convention with the rest of the items in the structure. The rest of the items have a numerical key, and this one does not. This isn't the only issue with this entry, because the `name`, `descript

[2022-11-02 19:08] ruuffian commented on #196
Is there an easy fix to this to just ignore `TalentReaperItem` in the line that parses the data? I'm not familiar with c++, but the error in the crash report says the issue is here:
https://github.com/floh22/LeagueBroadcast/blob/v2/LeagueBroadcast/Common/Data/Provider/DataDragon.cs
Line 137

[2022-11-02 19:20] TheD4nM4n commented on #196
I see two possible paths ahead. We could either force DataDragon to use last patch's ddragon, which is only a bandaid until Riot (hopefully) fixes this issue, or make LeagueBroadcast work around it like you said. I see the issue, it's pretty obvious what the issue is with the fact that C# is trying to cast "TalentReaperItem" as an integer. So I can attempt to check out what I can do to fix it. I a

[2022-11-02 19:29] ruuffian commented on #196
I fiddled around with the data dragon patch, but any patch that wasn't `12.21.1` or `latest` resulted in 404's for every champion's assets. You can change it by going into Config/Component.json and changing the patch value. Also, I identified this as c++ and not C# so that should tell you how much help I will be here 🤣

[2022-11-02 19:33] benholness opened #197 "[BUG] Program crashes on load - suspect that it is new patch - 12.21"
When I open the program after a new patch, it doesn't want to load at all.

Can someone provide some guidance on how to fix it when a new patch is available? Is there a file I need to tweak?

[2022-11-02 20:14] TheD4nM4n commented on #196
Actually, after changing the patch to `12.20.1`, the app works. For now I guess we wait.

[2022-11-02 20:47] ruuffian commented on #196
Have you checked your log/tried to run it with a game? When I did that, the log had a bunch of 404 for all the DDragon calls and the app could not find the correct champion data.

[2022-11-02 20:49] #195 closed, assigned to floh22

[2022-11-02 20:49] #196 closed, assigned to floh22

[2022-11-02 20:50] benholness commented on #191
@discodanz is there anyway we can be taught how to do these offsets ourselves?

[2022-11-02 20:53] discodanz commented on #191
Hey Ben,

Yup! The readme and can found here: https://github.com/floh22/LeagueBroadcast/tree/v2/LeagueBroadcast.Farsight

[2022-11-02 20:53] floh22 commented on #196
New build should adress this issue. Local testing on the new patch seemed to work.

[2022-11-02 20:54] floh22 commented on #197
duplicate of #196

[2022-11-02 20:54] #197 closed, assigned to floh22

[2022-11-02 20:54] #190 closed, assigned to nobody

[2022-11-02 20:54] #191 closed, assigned to floh22

[2022-11-02 20:55] floh22 commented on #193
Might have been win 11 issue, try again with the latest update

[2022-11-02 20:55] benholness commented on #191
Thanks @discodanz! Appreciate the ninja response

[2022-11-02 20:57] floh22 commented on #189
Please use bug reporting template.
Also, looks like a case of delete ingame.json

[2022-11-02 20:57] #189 closed, assigned to floh22

[2022-11-02 20:59] floh22 commented on #192
At some point I may create a web interface, which would solve this issue. But no native support for third platforms is planned

[2022-11-02 20:59] #192 closed, assigned to floh22

[2022-11-03 02:59] syuanlyu opened #198 "When I open Leaguebroadcast,it will get stuck at "Retrieving latest patch info" and crash."
When I open Leaguebroadcast,it will get stuck at "Retrieving latest patch info" and crash.
I have redownloaded but it keeps happening.
![image](https://user-images.githubusercontent.com/107873438/199639700-c65685f5-12b9-4d84-af65-f77a23466700.png)

[2022-11-03 03:03] TheD4nM4n opened #199 "[BUG] App does not start on latest release"
**Describe the bug**
LeagueBroadcast fails to launch on Windows 11 or 10 with latest release.

**To Reproduce**
Steps to reproduce the behavior:
1. Install .NET Desktop Runtime 6.0.0
2. Attempt to launch LB

**Expected behavior**
The app would launch.

**Material**
Because it does not even get to the point where it can start logging, I cannot add any material here. Upon double clicking the executa

[2022-11-03 03:06] TheD4nM4n commented on #198
Could you send the crash log, available in the Crashes folder within the directory you have LeagueBroadcast?

[2022-11-03 03:14] TheD4nM4n commented on #199
**UPDATE**: I seem to have gotten it to work by installing 6.0.10 on Windows 11. 6.0.0 and 6.0.10 did not work for me on Windows 10. Could have been an issue on my end, but it seems to be working now.

[2022-11-03 03:14] #199 closed, assigned to floh22

[2022-11-03 03:16] TheD4nM4n commented on #139
I am also having this issue. Even after ensuring the JSON contains the Directory with the `Riot Games` folder (which isn't any different from the default path, C:\Riot Games) it isn't working.

[2022-11-03 04:00] Sigmna090 opened #200 "Update Freezing at Downloaded 1851/1852 Assets"
Froze at 1851/1852 when trying to update. Decided to uninstall all and just install it all again but the same issue still happened when trying to open for the first time.
![image](https://user-images.githubusercontent.com/117332147/199645255-da0f1185-2c4c-471f-a23c-790a0d9f1e29.png)

[2022-11-03 04:21] TheD4nM4n commented on #139
I got it to work by replacing the double backslashes with a single forward slash.

[2022-11-03 08:32] benholness opened #201 "[BUG] In-game overlays not loading"
Just updated to the latest update provided for this software and when I load into a game replay, the overlays are not showing up when they were before (http://localhost:9001/frontend?backend=localhost)

Just also tried it out in a custom game where I was spectating and the overlays are not showing up for that browser source either.

I've also tried using a fresh download of the program and the sam

[2022-11-03 08:36] Nanovic30 commented on #201
Same issue there

[2022-11-03 09:10] syuanlyu commented on #198
[Crash-2022-11-03-16-31.log](https://github.com/floh22/LeagueBroadcast/files/9926935/Crash-2022-11-03-16-31.log)

[2022-11-03 11:29] thangoghd commented on #198
[Crash-2022-11-03-18-27.log](https://github.com/floh22/LeagueBroadcast/files/9927875/Crash-2022-11-03-18-27.log)

[2022-11-03 15:49] MDvorky commented on #201
Not working here either

[2022-11-03 16:00] floh22 commented on #201
alright. I don't have much time today but I'll try to look at it later, seems my testing is insufficient

[2022-11-03 23:42] floh22 commented on #198
This means either your config files are broken or you cannot reach Community Dragon servers. Try deleting `Config\Component.json`. If that does not work, it must be something with the internet connection

[2022-11-03 23:46] floh22 commented on #200
Please use the Bug report template.
Include logs and crash logs where possible

[2022-11-04 00:09] floh22 commented on #201
would you be able to send me the replay as well as the timestamp of when the crash occurs?
From the log it would seem it worked fine for 2 minutes.
It would also be helpful if you could show browser logs incase any errors pop up there

[2022-11-04 01:07] Nanovic30 commented on #201
Im not able to test it again right now but for my part it never loaded any overlay, even if the game was detected (all players were shown into LeagueBroadcast but nothing happened with the browser source)
I tried it with different replays and the result was the same

[2022-11-04 02:00] Sigmna090 opened #202 "Freezing when trying to update. [BUG]"
**Describe the bug**
When trying to update installer freezes and never finishes.

**To Reproduce**
1.) Run the .exe
2.) Click on update

**Expected behavior**
To Update.

**Material**
There is no crash log. It isn't crashing. Just freezes indefinitely while trying to update.

**Desktop (please complete the following information):**
 - OS: Windows 11

[2022-11-04 02:02] #200 closed, assigned to nobody

[2022-11-04 02:02] Sigmna090 commented on #202
![image](https://user-images.githubusercontent.com/117332147/199869221-fb398ef8-cf8b-42ef-a252-7f385109ec07.png)

[2022-11-04 02:07] Sigmna090 commented on #202
[Log-2022-11-03-21-05.log](https://github.com/floh22/LeagueBroadcast/files/9934389/Log-2022-11-03-21-05.log)

[2022-11-04 03:16] thangoghd commented on #198
still not working but tks for your help.

[2022-11-04 09:25] benholness commented on #201
Hey @floh22, unfortunately Github doesn't support uploading the replay file type but I did find something interesting when I looked at the browser console logs as requested.

Looking at the browser console logs, I found the in-game overlays had some kind of websocket connection error but the pick and ban overlays had no problem at all (see attached logs and screenshots for reference).

We have a t

[2022-11-04 10:00] floh22 commented on #201
I cant seem to replicate the issue. Can you contact me on Twitter or Discord so we can try resolving this together?
Nothing about the frontend changed, so troubleshooting looks to be a bit tricky

[2022-11-04 10:09] floh22 commented on #198
Can you tell me what you see when you open https://raw.communitydragon.org/latest/content-metadata.json on the same PC?

[2022-11-04 10:48] benholness commented on #201
@floh22 sure thing happy to do that, join my Discord and we can organise troubleshooting this together

https://discord.gg/pjuV2Yu8

[2022-11-04 10:50] benholness commented on #201
@floh22 no worries, what is your Discord tag?

[2022-11-04 12:57] thangoghd commented on #198
{
    "version": "12.21.4770420+branch.releases-12-21.content.release"
}

[2022-11-04 16:41] #202 closed, assigned to floh22

[2022-11-05 02:46] issaclarke commented on #201
I am having exactly the same issue. Nothing shows up nor In-Game browser or in the Pick and Ban Browser.

[2022-11-07 02:11] syuanlyu commented on #198
{
    "version": "12.21.4770420+branch.releases-12-21.content.release"
}

[2022-11-07 05:57] syuanlyu commented on #198
{
    "version": "12.21.4770420+branch.releases-12-21.content.release"
}

[2022-11-08 02:09] FireFoXz09 opened #204 "[BUG] Overlay closes when the LIVE game end (even if I'm still spectating)"
**Describe the bug**
The overlays shutdown when there 3 min approx left to the game (the spectator delay). The client now tell us when the game ended by showing the endgame scoreboard (when I checked my League Client), so I guess League Broadcast stop working for that? (Or I am unlucky?)

No crash logs because LeagueBroadcast think it ended normally.

I've reproduced this 2 games in a row on strea

[2022-11-08 15:30] curlydoggy commented on #198
same issue in 1.5.25.0 version...
This is my crash log.
[Crash-2022-11-09-00-25.log](https://github.com/floh22/LeagueBroadcast/files/9962661/Crash-2022-11-09-00-25.log)

[2022-11-10 23:47] FireFoXz09 commented on #204
Tested again, this seems to happen in custom games only (spectating a friend in any premade game mode doesn't do this.) The League Client show the result when the players have ended the custom games, removing the "Game is still in progress..." screen, telling LeagueBroadcast that the game technically ended.

The problem happens with tournament code and without a tournament code, as long this is a

[2022-11-11 11:01] NicoSchulz00 opened #205 "[BUG] LB imediately closes after I started it"
Since this week I can't start League Broadcast anymore. Everytime I am trying to start the software, I see the "startscreen" for about 2 seconds before it closes down.

I have the newest version of League Broadcast (1.5.25) and the .Net Framework 6.0.11. Both are installed at my C: drive, the riot games folder is meanwhile on my D: drive, but I allready adjusted the path for League Install in the

[2022-11-14 04:08] kaianvn opened #206 "LB closes when "Retrieving latest patch info""
**I'm opening this new issue because the error messages are different than #198. Maybe it could be a mistake in my end.**

The title mostly says it all, I try to open the app, it says **"Retrieving latest patch info"** and it crashes, the log says the following description:

_"The input does not contain any JSON tokens. Expected the input to start with a valid JSON token, when isFinalBlock is true

[2022-11-16 06:13] syuanlyu commented on #198
I can open version 1.4.106 today,but i can not open version 1.5.24.0 .

[2022-11-19 00:05] #204 closed, assigned to floh22

[2022-11-19 00:07] floh22 commented on #204
Fixed in 1.5.37

[2022-11-19 00:16] floh22 commented on #205
fixed in 1.5.37

[2022-11-19 00:16] #205 closed, assigned to floh22

[2022-11-19 00:17] floh22 commented on #201
Fixed in 1.5.25

[2022-11-19 00:17] #201 closed, assigned to floh22

[2022-11-19 00:17] #193 closed, assigned to floh22

[2022-11-19 00:18] #147 closed, assigned to floh22

[2022-11-19 00:18] floh22 commented on #206
Fixed in 1.5.37

[2022-11-19 00:19] #206 closed, assigned to nobody

[2022-11-19 00:19] floh22 commented on #198
Are these issues resolved? As far as I can tell I think I found the issue, but it would be good if you could confirm that for me
@curlydoggy @syuanlyu @thangoghd

[2022-11-19 00:20] #170 closed, assigned to floh22

[2022-11-19 00:20] #164 closed, assigned to floh22

[2022-11-19 00:20] #158 closed, assigned to floh22

[2022-11-19 00:21] #160 closed, assigned to floh22

[2022-11-19 08:13] syuanlyu commented on #198
Yes,my issues resolved.

[2022-11-19 08:14] #198 closed, assigned to nobody

[2022-11-22 02:01] Scrambles1934 opened #207 "Do videos have to be .mp4?"
Do the scoreboard videos have to be .mp4?  I'd like to use .webm.  Where can I change that file path?  I don't see it in the config file, unless I can just enter it there and it will override the default?

[2022-11-26 15:56] FireFoXz09 commented on #206
Problem still there. Here's the logs:
[Crash-2022-11-26-10-54.log](https://github.com/floh22/LeagueBroadcast/files/10096572/Crash-2022-11-26-10-54.log)
[Log-2022-11-26-10-54-0.log](https://github.com/floh22/LeagueBroadcast/files/10096573/Log-2022-11-26-10-54-0.log)